@charset "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0;font-family:'Noto Sans KR Light','Apple SD Gothic Neo',sans-serif;line-height:1.5;-webkit-text-size-adjust:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
ul,li{list-style:none}
.blind,caption span{overflow:hidden;position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px}
#header{padding:10px}
#container{padding:10px}