@@include('./include/head.html',{"title": "Slick Interaction : Slick Interaction : UIT Gulp Project"})
<body>
@@include('./include/skipnavigation.html')

	<div id="wrap" class="slick">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content">
			<div class="page_transition">
				<section class="home" style="display: block">
					<div class="home_slide">
						<section class="section section1">home section1</section>
						<section class="section section2">home section2</section>
						<section class="section section3">home section3</section>
						<section class="section section4">home section4</section>
						<section class="section section5">home section5</section>
					</div>
				</section>
				<section class="story">story
					<div class="story_slide">
						<!-- <div class="section section1">story section1</div>
						<div class="section section2">story section2</div>
						<div class="section section3">story section3</div>
						<div class="section section4">story section4</div>
						<div class="section section5">story section5</div> -->
					</div>
				</section>
				<section class="about">about</section>
				<section class="gallery">gallery</section>
				<section class="news">news</section>
			</div>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>