@@include('./include/head.html',{"title": "Fullpage Interaction : Fullpage Interaction : UIT Gulp Project"})
<body>
@@include('./include/skipnavigation.html')

	<div id="wrap" class="fullpage">
		<!--[D] HEADER -->
@@include('./include/header.html',{"type": "01"})
		<!--//[D] HEADER -->

		<!-- [D] CONTENTS -->
		<main id="content">
			<div class="page_wrap">
				<div id="custom_section" class="page_transition">
					<div class="section home">home</div>
					<div class="section story">story</div>
					<div class="section about">about</div>
					<div class="section gallery">gallery</div>
					<div class="section news">news</div>
				</div>
			</div>
		</main>
		<!-- // [D] CONTENTS -->

		<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
		<!--// [D] FOOTER -->
	</div>

	<!-- [D] LAYER -->
	<div class="layer"></div>
	<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>