        @@if (type == 01) {<header>
            <!-- Navigation -->
            <nav id="nav">
                <div class="nav_inner">
                    <ul class="list_nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Story</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">News</a></li>
                    </ul>
                </div>
                <button type="button" class="btn_close">닫기</button>
            </nav>
            <!-- // Navigation -->
        </header>} @@if (type == 02) {<header>
            <!-- Navigation -->
            <nav></nav>
            <!-- // Navigation -->
        </header>}