@font-face {
    font-family: $nanumsquare;
    @include font-face($nanumsquare, $fontPath, 'Light');
    font-weight: 300;
}

@font-face {
    font-family: $nanumsquare;
    @include font-face($nanumsquare, $fontPath, 'Regular');
    font-weight: 400;
}

@font-face {
    font-family: $nanumsquare;
    @include font-face($nanumsquare, $fontPath, 'Bold');
    font-weight: 700;
}

@font-face {
    font-family: $nanumsquare;
    @include font-face($nanumsquare, $fontPath, 'Extrabold');
    font-weight: 800;
}