@charset "utf-8";
body,th,td,input,select,textarea,button{font-family:'Noto Sans KR Light','Apple SD Gothic Neo',sans-serif}
*{margin:0;padding:0}
body{font-size:14px;line-height:1.5;color:#555}
h1,h2,h3,h4,h5,h6{text-align:left}
h1{font-weight:bold}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
button,label{cursor:pointer}
button::-moz-focus-inner{padding:0;border:0}
hr{display:none}
#wrapper{padding:0 10px}
.exam_wrap{padding:10px 0}
.exam_wrap h1{margin:5px 0;font-size:1em}
.exam_wrap div div,
.exam_wrap div p,
.exam_wrap div span,
.exam_wrap div em{border:1px solid green}
button{margin-top:5px;padding:3px 5px;border-radius:3px;border:1px solid #eee;background:#2c2c2c;font-weight:bold;font-size:11px;color:#fff}