<!-- 공통 배너 -->
<div class="common_banner">
	<a href="https://www.twitch.tv/playoverwatch_kr" class="bnr_bx" target="_blank">
		<div class="inner">
			<h3 class="match_title"><em class="live">ON AIR</em>16강 B그룹 4경기</h3>
			<span class="btn_live">생방송</span>
			<div class="team_item_bx">
				<em class="blind">경기 진행 팀명</em>
				<div class="team_item">
					<strong class="team team1">KONGDOO PANTHERA</strong>
					<img src="../images/team/@team_logo_sm3.png" class="team_logo" alt="">
				</div>
				<span class="txt_bx">
					<span class="txt">VS</span>
				</span>
				<div class="team_item">
					<img src="../images/team/@team_logo_sm2.png" class="team_logo" alt="">
					<strong class="team team2">MISFITS</strong>
				</div>
			</div>
		</div>
	</a>
	<button type="button" class="close">닫기</button>
</div>
<!-- //공통 배너 -->