<!DOCTYPE html>
@@if (type == 01) {<html lang="ko" class="esports">}@@if (type == 02) {<html lang="ko" class="contenders">}@@if (type == 03) {<html lang="ko" class="division">}@@if (type == 04) {<html lang="ko" class="trials">}@@if (type == 05) {<html lang="ko" class="collegiate">}
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="robots" content="all">
<title>@@title</title>
<meta name="keywords" content="오버워치">
<meta name="description" content="오버워치의 박진감 넘치는 게임플레이를 자세히 살펴보세요.">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Overwatch E-Sports">
<meta property="og:locale" content="ko_KR">
<meta property="og:title" content="오버워치 이스포츠">
<meta property="og:description" content="오버워치의 박진감 넘치는 게임플레이를 자세히 살펴보세요.">
<!-- Icon & Favicon -->
<link rel="shortcut icon" href="https://d3hmvhl7ru3t12.cloudfront.net/img/favicon-bb6200267bbdea6fdc9eb498a88722007dad6eb3b3c6437440025c66cb055fefdd1fbedf3886bd069fc3547c79fa8afee4795a278a644f6cfe10a7b1144f48bb.ico">
<!-- <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/icon/favicon-180x180.png"> -->
<!-- // Icon & Favicon -->
<link rel="stylesheet" href="../css/libs.min.css">
<link rel="stylesheet" href="../css/overwatch.css">
</head>