@@if (common == 01){	<header id="header" class="header">
		<!-- [D] global navigation bar -->
		<div class="header_top">
			<div class="inner">
				<div class="nav_wrap">
					<h1 class="logo_overwatch"><a href="#"><img src="../images/logo/logo_overwatch.png" alt="OVERWATCH"></a></h1>
					<nav id="nav">
						<div class="nav_area">
							<a href="#" class="nav_cont">
								<span class="tit">오버워치<span class="blank"></span>e스포츠 소개</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<br>컨텐더스</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_trials2.png" alt="">
								<span class="tit">컨텐더스<br>트라이얼</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_division2.png" alt="">
								<span class="tit">오버워치<br>오픈 디비전</span>
							</a>
						</div>
					</nav>
				</div>
				<div class="nav_utill">
					<ul class="list_link">
					<!-- <li class="link_item">
						<a href="#">
							<img src="../images/logo/logo_division2.png" alt="오버워치 여성부 리그">
							<span class="tit">오버워치<br>여성부 리그</span>
						</a>
					</li>-->
					<li class="link_item">
						<a href="https://worldcup.playoverwatch.com/ko-kr/" target="_blank">
							<img src="../images/logo/logo_worldcup.png" alt="오버워치 월드컵">
							<span class="tit">오버워치<br>월드컵</span>
						</a>
					</li>
					<li class="link_item">
						<a href="https://overwatchleague.com/ko-kr/" target="_blank">
							<img src="../images/logo/logo_league2.png" alt="오버워치 리그">
							<span class="tit">오버워치<br>리그</span>
						</a>
					</li>
					</ul>
					<ul class="list_utill">
					<!-- <li class="utill_item"><a href="#" class="tit store" target="_blank">기어 스토어</a></li> -->
					<li class="utill_item">
						<a href="http://ticket.interpark.com/Contents/Sports/GoodsInfo?SportsCode=07032" class="tit" target="_blank">티켓예매</a>
					</li>
					<li class="utill_item">
						<a href="#" class="tit partner">대회후원</a>
					</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //[D] global navigation bar -->
	</header>}
	@@if (common == 02) {<header id="header" class="header_sub">
		<!-- [D] global navigation bar -->
		<div class="header_top">
			<div class="inner">
				<div class="nav_wrap">
					<h1 class="logo_overwatch"><a href="#"><img src="../images/logo/logo_overwatch.png" alt="OVERWATCH"></a></h1>
					<nav id="nav">
						@@if (nav == 01){
						<div class="nav_area">
							<a href="#" class="nav_cont on">
								<span class="tit">오버워치<span class="blank"></span>e스포츠 소개</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<br>컨텐더스</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_trials2.png" alt="">
								<span class="tit">컨텐더스<br>트라이얼</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_division2.png" alt="">
								<span class="tit">오버워치<br>오픈 디비전</span>
							</a>
							<!-- <a href="#" class="nav_cont">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<br>대학 경쟁전</span>
							</a> -->
						</div>}
						@@if (nav == 02){
						<div class="nav_area">
							<a href="#" class="nav_cont">
								<span class="tit">오버워치<span class="blank"></span>e스포츠 소개</span>
							</a>
							<a href="#" class="nav_cont on">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<br>컨텐더스</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_trials2.png" alt="">
								<span class="tit">컨텐더스<br>트라이얼</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_division2.png" alt="">
								<span class="tit">오버워치<br>오픈 디비전</span>
							</a>
							<!-- <a href="#" class="nav_cont">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<br>대학 경쟁전</span>
							</a> -->
						</div>}
						@@if (nav == 03){
						<div class="nav_area">
							<a href="#" class="nav_cont">
								<span class="tit">오버워치<span class="blank"></span>e스포츠 소개</span>
							</a>
							<!-- <a href="#" class="nav_cont">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<br>컨텐더스</span>
							</a> -->
							<a href="#" class="nav_cont on">
								<img src="../images/logo/logo_trials2.png" alt="">
								<span class="tit">컨텐더스<br>트라이얼</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_division2.png" alt="">
								<span class="tit">오버워치<br>오픈 디비전</span>
							</a>
							<!-- <a href="#" class="nav_cont">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<br>대학 경쟁전</span>
							</a> -->
						</div>}
						@@if (nav == 04){
						<div class="nav_area">
							<a href="#" class="nav_cont">
								<span class="tit">오버워치<span class="blank"></span>e스포츠 소개</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<br>컨텐더스</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_trials2.png" alt="">
								<span class="tit">컨텐더스<br>트라이얼</span>
							</a>
							<a href="#" class="nav_cont on">
								<img src="../images/logo/logo_division2.png" alt="">
								<span class="tit">오버워치<br>오픈 디비전</span>
							</a>
							<!-- <a href="#" class="nav_cont">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<br>대학 경쟁전</span>
							</a> -->
						</div>}
					</nav>
				</div>
				<div class="nav_utill">
					<ul class="list_link">
					<!-- <li class="link_item">
						<a href="#">
							<img src="../images/logo/logo_division2.png" alt="오버워치 여성부 리그">
							<span class="tit">오버워치<br>여성부 리그</span>
						</a>
					</li> -->
					<li class="link_item">
						<a href="https://worldcup.playoverwatch.com/ko-kr/" target="_blank">
							<img src="../images/logo/logo_worldcup.png" alt="오버워치 월드컵">
							<span class="tit">오버워치<br>월드컵</span>
						</a>
					</li>
					<li class="link_item">
						<a href="https://overwatchleague.com/ko-kr/" target="_blank">
							<img src="../images/logo/logo_league2.png" alt="오버워치 리그">
							<span class="tit">오버워치<br>리그</span>
						</a>
					</li>
					</ul>
					<ul class="list_utill">
					<!-- <li class="utill_item"><a href="#" class="tit store" target="_blank">기어 스토어</a></li> -->
					<li class="utill_item">
						<a href="http://ticket.interpark.com/Contents/Sports/GoodsInfo?SportsCode=07032" class="tit" target="_blank">티켓예매</a>
					</li>
					<li class="utill_item">
						<a href="#" class="tit partner">대회후원</a>
					</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //[D] global navigation bar -->
	</header>}@@if (common == 03){	<header id="header" class="header">
		<!-- [D] global navigation bar -->
		<div class="header_top">
			<div class="inner">
				<div class="nav_wrap">
					<h1 class="logo_overwatch"><a href="#"><img src="../images/logo/logo_overwatch.png" alt="OVERWATCH"></a></h1>
					<nav id="nav">
						<div class="nav_area">
							<a href="#" class="nav_cont">
								<span class="tit">오버워치<span class="blank"></span>e스포츠 소개</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_contenders2.png" alt="">
								<span class="tit">오버워치<br>컨텐더스</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_trials2.png" alt="">
								<span class="tit">컨텐더스<br>트라이얼</span>
							</a>
							<a href="#" class="nav_cont">
								<img src="../images/logo/logo_division2.png" alt="">
								<span class="tit">오버워치<br>오픈 디비전</span>
							</a>
							<!-- <a href="#" class="nav_cont">
								<img src="../images/logo/logo_tespa.png" alt="">
								<span class="tit">오버워치<br>대학 경쟁전</span>
							</a> -->
						</div>
					</nav>
				</div>
				<div class="nav_utill">
					<ul class="list_link">
					<!-- <li class="link_item">
						<a href="#">
							<img src="../images/logo/logo_division2.png" alt="오버워치 여성부 리그">
							<span class="tit">오버워치<br>여성부 리그</span>
						</a>
					</li> -->
					<li class="link_item">
						<a href="https://worldcup.playoverwatch.com/ko-kr/" target="_blank">
							<img src="../images/logo/logo_worldcup.png" alt="오버워치 월드컵">
							<span class="tit">오버워치<br>월드컵</span>
						</a>
					</li>
					<li class="link_item">
						<a href="https://overwatchleague.com/ko-kr/" target="_blank">
							<img src="../images/logo/logo_league2.png" alt="오버워치 리그">
							<span class="tit">오버워치<br>리그</span>
						</a>
					</li>
					</ul>
					<ul class="list_utill">
					<!-- <li class="utill_item"><a href="#" class="tit store" target="_blank">기어 스토어</a></li> -->
					<li class="utill_item">
						<a href="http://ticket.interpark.com/Contents/Sports/GoodsInfo?SportsCode=07032" class="tit" target="_blank">티켓예매</a>
					</li>
					<li class="utill_item">
						<a href="#" class="tit partner">대회후원</a>
					</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- //[D] global navigation bar -->
	</header>}