<!-- 미디어 레이어 -->
<div id="layer_media" class="layer_wrap">
	<div class="layer_content">
		<h2 class="layer_tit">Title</h2>
		<ul class="top_match_info">
		<li class="match_score">
			<span class="team team1">Team A</span>
			<span class="score score1 win">0</span>
			<span class="txt">:</span>
			<span class="score score2">0</span>
			<span class="team team2">Team B</span>
		</li>
		<li class="match_date">DATE</li>
		</ul>
		<ul class="share_area">
		<li class="share_bx"><a href="#" class="btn_highlight"><span class="txt"><span class="in">영상 더보기</span></span></a></li>
		</ul>
		<div class="video_wrap">
			<h3 class="blind">영상 보기</h3>
			<div id="mainVideo" class="main_video"></div>
		</div>
	</div>
	<button type="button" class="btn_close">CLOSE</button>
</div>
<!-- // 미디어 레이어 -->