<!-- 팀 정보 레이어-->
<div id="layer_team" class="layer_wrap">
	<div class="layer_content">
		<div class="top_area">
			<h2 class="layer_tit"><span>META ATHENA</span></h2>
			<p class="area">SEOUL</p>
			<p class="txt">Lunatic-Hai 멤버의 EscA, zumba, Miro, ryujehong, tobi<br>그리고 Gido로 구성된 서울 다이너스티(Seoul Dunasty)는, 뛰어난 팀워크와<br>개인기로 이미 검증된 챔피언들로, 오버워치 APEX 시즌2와 시즌3에서 우승하였고,<br>오버워치 월드컵에서 서울과 한국을 대표했습니다.</p>
			<img src="../images/team/@team_logo_big.png" class="logo" alt="">
			<ul class="social">
			<li><a href="#" target="_blank" class="homepage"><span class="blind">홈페이지</span></a></li>
			<li><a href="#" target="_blank" class="facebook"><span class="blind">페이스북</span></a></li>
			<li><a href="#" target="_blank" class="twitter"><span class="blind">트위터</span></a></li>
			<li><a href="#" target="_blank" class="instagram"><span class="blind">인스타그램</span></a></li>
			<li><a href="#" target="_blank" class="youtube"><span class="blind">유투브</span></a></li>
			<li><a href="#" target="_blank" class="twitch"><span class="blind">트위치</span></a></li>
			</ul>
		</div>
		<div class="layer_inner">
			<div class="inner">
				<div class="team_picture"><img src="../images/team/@team_picture.jpg" alt=""></div>
				<div class="member_area">
					<h3 class="h_tit">선수명단</h3>
					<div id="memberBox">
						<ul class="list_member">
						<li>
							<span class="thumb"><img src="../images/team/@team_member_default.png" alt="팀"></span>
							<div class="info">
								<span class="ico offense"><img src="../images/icon_pos.png" alt="공격"></span>
								<span class="nickname">FLETA</span>
								<span class="name">김병선</span>
							</div>
						</li>
						<li>
							<span class="thumb"><img src="../images/team/@team_member.png" alt=""></span>
							<div class="info">
								<span class="ico tank"><img src="../images/icon_pos2.png" alt="돌격"></span>
								<span class="nickname">FLETA</span>
								<span class="name">김병선</span>
							</div>
						</li>
						<li>
							<span class="thumb"><img src="../images/team/@team_member.png" alt=""></span>
							<div class="info">
								<span class="ico flex"><img src="../images/icon_pos3.png" alt="플렉스"></span>
								<span class="nickname">FLETA</span>
								<span class="name">김병선</span>
							</div>
						</li>
						<li>
							<span class="thumb"><img src="../images/team/@team_member.png" alt=""></span>
							<div class="info">
								<span class="ico support"><img src="../images/icon_pos4.png" alt="지원"></span>
								<span class="nickname">FLETA</span>
								<span class="name">김병선</span>
							</div>
						</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button type="button" class="btn_close">CLOSE</button>
</div>
<!-- //팀 정보 레이어-->