<!-- 스코어 레이어 -->
<div id="layer_score" class="layer_wrap">
	<div class="layer_content">
		<h2 class="layer_tit">Match Title</h2>
		<ul class="top_match_info">
		<li class="match_date">Date</li>
		</ul>
		<a href="#" class="btn_highlight"><span class="txt"><span class="in">하이라이트<br>영상보기</span></span></a>
		<div class="match_info">
			<h3 class="blind">상세 전적 정보</h3>
			<div class="match_top">
				<div class="team_bx team_bx1 bye"><!--[D] 승자 .win | 패자 .lose | 부전승 .bye | 실격 .out 추가-->
					<a href="#" class="team_logo"><img src="../images/team/@team_logo_big.png" alt=""></a>
					<span class="name"><em>Kongdoo Panthera</em></span>
					<em class="score score1 ">1</em>
				</div>
				<span class="txt">:</span>
				<div class="team_bx team_bx2 out"><!--[D] 승자 .win | 패자 .lose | 부전승 .bye | 실격 .out 추가-->
					<span class="name"><em>WGS LaurelS Nine</em></span>
					<a href="#" class="team_logo"><img src="../images/team/@team_logo_big2.png" alt=""></a>
					<span class="score score2 ">3</span>
				</div>
			</div>
			<div class="match_detail">
				<div class="score_wrap">
					<ul class="score_list">
					<li class="score_item">
						<a href="#" target="_blank" class="score_cont">
							<div class="score score1">0</div>
							<div class="field">
								<div class="field_in">네팔<span class="btn_go">PLAY</span></div>
							</div>
							<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
						</a>
					</li>
					<li class="score_item">
						<a href="#" target="_blank" class="score_cont">
							<div class="score score1 win">2</div>
							<div class="field">
								<div class="field_in">할리우드<span class="btn_go">PLAY</span></div>
							</div>
							<div class="score score2">1</div><!--[D] 승자 .win 추가-->
						</a>
					</li>
					<li class="score_item">
						<a href="#" target="_blank" class="score_cont">
							<div class="score score1">0</div>
							<div class="field">
								<div class="field_in">아누비스 신전<span class="btn_go">PLAY</span></div>
							</div>
							<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
						</a>
					</li>
					<li class="score_item">
						<a href="#" target="_blank" class="score_cont">
							<div class="score score1">0</div>
							<div class="field tie"><!--[D] 승자 결정전 셋트일 경우 .tie 추가-->
								<div class="field_in">도라도</div>
							</div>
							<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
						</a>
					</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<button type="button" class="btn_close">CLOSE</button>
</div>
<!-- //스코어 레이어 -->