			@@if (type == 01){<div class="filter_area"><!--[D] .on 추가시 필터 열림-->
				<div class="filter_top">
					<a href="#" class="tit">
						<em class="num">2018</em>년도<em class="num">1</em>시즌<em class="txt">전체</em>주차<em class="txt">전체</em>팀
					</a>
					<button type="button" class="btn_filter">상세검색</button>
				</div>
				<div class="filter_bx">
					<div class="filter_cont">
						<div class="filter_item item1">
							<strong class="tit">단계</strong>
							<div class="sel_bx">
								<a href="#" class="sel_tit"><span>전체</span></a>
								<div class="lst_bx">
									<ul class="sel_lst">
										<li class="sel_item"><a href="#"><span>2018년</span></a></li>
										<li class="sel_item"><a href="#"><span>2017년</span></a></li>
										<li class="sel_item"><a href="#"><span>2016년</span></a></li>
									</ul>
								</div>
							</div>
							<div class="sel_bx">
								<a href="#" class="sel_tit"><span>전체</span></a>
								<div class="lst_bx">
									<ul class="sel_lst">
										<li class="sel_item"><a href="#"><span>1시즌</span></a></li>
										<li class="sel_item"><a href="#"><span>2시즌</span></a></li>
										<li class="sel_item"><a href="#"><span>3시즌</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="filter_item item2">
							<strong class="tit">주차</strong>
							<div class="sel_bx">
								<a href="#" class="sel_tit"><span>전체</span></a>
								<div class="lst_bx">
									<ul class="sel_lst">
										<li class="sel_item"><a href="#"><span>1주차</span></a></li>
										<li class="sel_item"><a href="#"><span>2주차</span></a></li>
										<li class="sel_item"><a href="#"><span>3주차</span></a></li>
										<li class="sel_item"><a href="#"><span>4주차</span></a></li>
										<li class="sel_item"><a href="#"><span>5주차</span></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="filter_item item_full on">
							<strong class="tit">팀</strong>
							<ul class="team_lst">
								<li class="team_item all_item">
									<input type="radio" id="chk1" name="inp_team" class="inp_rdo"><label for="chk1"><img src="../images/team/@team_logo_sm.png" alt=""><em class="">전체</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk2" name="inp_team" class="inp_rdo"><label for="chk2"><img src="../images/team/@team_logo_sm2.png" alt=""><em class="">FNATIC</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk3" name="inp_team" class="inp_rdo"><label for="chk3"><img src="../images/team/@team_logo_sm3.png" alt=""><em class="">RUNAWAY</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk4" name="inp_team" class="inp_rdo"><label for="chk4"><img src="../images/team/@team_logo_sm4.png" alt=""><em class="">KONGDOO PANTHERA</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk5" name="inp_team" class="inp_rdo"><label for="chk5"><img src="../images/team/@team_logo_sm2.png" alt=""><em class="">BK STARS</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk6" name="inp_team" class="inp_rdo"><label for="chk6"><img src="../images/team/@team_logo_sm3.png" alt=""><em class="">ENVYUS</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk7" name="inp_team" class="inp_rdo"><label for="chk7"><img src="../images/team/@team_logo_sm4.png" alt=""><em class="">META ATHENA</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk8" name="inp_team" class="inp_rdo"><label for="chk8"><img src="../images/team/@team_logo_sm2.png" alt=""><em class="">MVP INFINITY</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk9" name="inp_team" class="inp_rdo"><label for="chk9"><img src="../images/team/@team_logo_sm3.png" alt=""><em class="">AFREECA FREECS BLUE</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk10" name="inp_team" class="inp_rdo"><label for="chk10"><img src="../images/team/@team_logo_sm4.png" alt=""><em class="">LUNATIC-HAI</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk11" name="inp_team" class="inp_rdo"><label for="chk11"><img src="../images/team/@team_logo_sm2.png" alt=""><em class="">CLOUD9</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk12" name="inp_team" class="inp_rdo"><label for="chk12"><img src="../images/team/@team_logo_sm3.png" alt=""><em class="">KONGDOO UNCIA</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk13" name="inp_team" class="inp_rdo"><label for="chk13"><img src="../images/team/@team_logo_sm4.png" alt=""><em class="">MISFITS</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk14" name="inp_team" class="inp_rdo"><label for="chk14"><img src="../images/team/@team_logo_sm2.png" alt=""><em class="">FNATIC</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk15" name="inp_team" class="inp_rdo"><label for="chk15"><img src="../images/team/@team_logo_sm3.png" alt=""><em class="">RUNAWAY</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk16" name="inp_team" class="inp_rdo"><label for="chk16"><img src="../images/team/@team_logo_sm4.png" alt=""><em class="">KONGDOO PANTHERA</em></label>
								</li>
								<li class="team_item">
									<input type="radio" id="chk17" name="inp_team" class="inp_rdo"><label for="chk17"><img src="../images/team/@team_logo_sm2.png" alt=""><em class="">BK STARS</em></label>
								</li>
							</ul>
							<button type="button" class="btn_view">전체 팀 보기</button><!--[D] 텍스트 변경 : 전체 팀 보기 ↔ 닫기-->
						</div>
					</div>
					<div class="btn_area">
						<button class="btn_apply">적용</button><button class="btn_cancel">취소</button>
					</div>
				</div>
			</div>}