	<!-- Javascript -->
	<script src="../js/libs/jquery-1.12.4.min.js"></script>
	<!--Libs-->
	<script src="../js/libs/jquery.animate-enhanced.custom.js"></script>
	<script src="../js/libs/jquery.ba-outside-events.js"></script>
	<script src="../js/libs/slick.js"></script>
	<script src="../js/libs/jquery.bxslider.js"></script>
	<script src="../js/libs/swiper.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
	<script src="../js/libs/moment.js"></script>

	<!--Apps-->
	<script src="../js/apps/common.js"></script>
	<script src="../js/apps/common_ui.js"></script>
	<script src="../js/apps/main.js"></script>
	<script src="../js/apps/bracket.js"></script>
	<script src="../js/apps/standing.js"></script>
	<script src="../js/apps/schedule.js"></script>
	<script src="../js/apps/team.js"></script>
	<script src="../js/apps/media.js"></script>
	<!-- // Javascript -->