<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
	<g id="top">
		<g>
			<rect width="16" height="1"/>
		</g>
		<g>
			<rect x="13" y="30" width="16" height="1"/>
		</g>
		<g>
			<rect x="26" y="105" width="44" height="1"/>
		</g>
		<rect x="13" width="3" height="31"/>
		<rect x="26" y="30" width="3" height="76"/>
	</g>
	<g id="top_2">
		<g>
			<rect width="16" height="1"/>
		</g>
		<g>
			<rect x="13" y="30" width="16" height="1"/>
		</g>
		<g>
			<rect x="26" y="180" width="44" height="1"/>
		</g>
		<rect x="13" width="3" height="31"/>
		<rect x="26" y="30" width="3" height="151"/>
	</g>
	<g id="top_3">
		<g>
			<rect width="16" height="1"/>
		</g>
		<g>
			<rect x="13" y="30" width="16" height="1"/>
		</g>
		<g>
			<!-- <rect x="26" y="257" width="34" height="1"/> -->
		</g>
		<rect x="13" width="3" height="31"/>
		<rect x="26" y="30" width="3" height="227"/>
	</g>
	<g id="top2">
		<g>
			<rect y="45" width="16" height="1"/>
		</g>
		<g>
			<rect x="13" y="75" width="16" height="1"/>
		</g>
		<g>
			<rect x="26" width="44" height="1"/>
		</g>
		<rect x="13" y="45" width="3" height="31"/>
		<rect x="26" width="3" height="76"/>
	</g>
	<g id="top2_2">
		<g>
			<rect y="120" width="16" height="1"/>
		</g>
		<g>
			<rect x="13" y="150" width="16" height="1"/>
		</g>
		<g>
			<rect x="26" width="44" height="1"/>
		</g>
		<rect x="13" y="120" width="3" height="31"/>
		<rect x="26" width="3" height="151"/>
	</g>
	<g id="top2_3">
		<g>
			<rect y="198" width="16" height="1"/>
		</g>
		<g>
			<rect x="13" y="227" width="16" height="1"/>
		</g>
		<g>
			<!-- <rect x="26" width="34" height="1"/> -->
		</g>
		<rect x="13" y="198" width="3" height="31"/>
		<rect x="26" width="3" height="228"/>
	</g>
	<g id="bottom">
		<g>
			<rect y="30" width="16" height="1"/>
		</g>
		<g>
			<rect x="13" width="16" height="1"/>
		</g>
		<g>
			<rect x="26" y="75" width="44" height="1"/>
		</g>
		<rect x="13" width="3" height="31"/>
		<rect x="26" width="3" height="76"/>
	</g>
	<g id="bottom_2">
		<g>
			<rect y="30" width="16" height="1"/>
		</g>
		<g>
			<rect x="13" width="16" height="1"/>
		</g>
		<g>
			<rect x="26" y="150" width="44" height="1"/>
		</g>
		<rect x="13" width="3" height="31"/>
		<rect x="26" width="3" height="151"/>
	</g>
	<g id="bottom_3">
		<g>
			<rect y="30" width="16" height="1"/>
		</g>
		<g>
			<rect x="13" width="16" height="1"/>
		</g>
		<g>
			<!-- <rect x="26" y="227" width="34" height="1"/> -->
		</g>
		<rect x="13" width="3" height="31"/>
		<rect x="26" width="3" height="227"/>
	</g>
	<g id="bottom2">
		<g>
			<rect y="105" width="16" height="1"/>
		</g>
		<g>
			<rect x="13" y="75" width="16" height="1"/>
		</g>
		<g>
			<rect x="26" width="44" height="1"/>
		</g>
		<rect x="13" y="75" width="3" height="31"/>
		<rect x="26" width="3" height="76"/>
	</g>
	<g id="bottom3">
		<g>
			<rect y="105" width="16" height="1"/>
		</g>
		<g>
			<rect x="13" y="75" width="16" height="1"/>
		</g>
		<g>
			<rect x="26" width="34" height="1"/>
		</g>
		<rect x="13" y="75" width="3" height="31"/>
		<rect x="26" width="3" height="76"/>
	</g>
	<g id="bottom2_2">
		<g>
			<rect y="180" width="16" height="1"/>
		</g>
		<g>
			<rect x="13" y="150" width="16" height="1"/>
		</g>
		<g>
			<rect x="26" width="44" height="1"/>
		</g>
		<rect x="13" y="150" width="3" height="31"/>
		<rect x="26" width="3" height="151"/>
	</g>
	<g id="bottom2_3">
		<g>
			<rect y="257" width="16" height="1"/>
		</g>
		<g>
			<rect x="13" y="227" width="16" height="1"/>
		</g>
		<g>
			<!-- <rect x="26" width="34" height="1"/> -->
		</g>
		<rect x="13" y="227" width="3" height="31"/>
		<rect x="26" width="3" height="228"/>
	</g>
</svg>