		<div class="top_content">
			@@if (htype == 01) {
			<div class="visual_area">
				<!-- Main Visual -->
				<h2 class="blind">Main Visual 영역</h2>
				<img src="../images/key_visual_sub_contenders.jpg" alt="">
				<!-- //Main Visual -->
			</div>
			<div class="top_inner">
				<div class="title_area">
					<h2 class="h_tit">오버워치 컨텐더스 코리아</h2>
					<div class="date_bx">
						<span class="season"><em>SEASON 1</em></span>
						<span class="date">2018. 03. 19 – 2018. 05. 05</span>
					</div>
					<span class="logo"><img src="../images/logo/logo_contenders.png" alt=""></span>
					<p class="txt">대한민국 최고의 오버워치 팀들이 격돌하는 꿈의 무대 오버워치 컨덴더스 코리아.<br>매년 3번의 시즌이 개최되며, 12개 팀이 2개의 디비전으로 나뉘어 치열한 경합을 벌이고, 8강 플레이오프를 거쳐 파이널 무대를 통해 챔피언을 가리게됩니다.<br>오버워치 컨텐더스 코리아는 최고의 스포츠 전문 채널, MBC스포츠 플러스와 함께 합니다.</p>}
			@@if (htype == 02) {
			<div class="visual_area">
				<!-- Main Visual -->
				<h2 class="blind">Main Visual 영역</h2>
				<img src="../images/key_visual_sub_opendivision.jpg" alt="">
				<!-- //Main Visual -->
			</div>
			<div class="top_inner">
				<div class="title_area">
					<h2 class="h_tit">오버워치 오픈 디비전 코리아</h2>
					<div class="date_bx">
						<span class="season"><em>SEASON 2</em></span>
						<span class="date">2018. 05. 19 – 2018. 05. 26</span>
					</div>
					<span class="logo"><img src="../images/logo/logo_division.png" alt=""></span>
					<p class="txt">오버워치 오픈디비전 코리아는 세계적인 오버워치 스타 선수가 되기 위한 첫 여정입니다.<br>프로 선수가 되고 싶은 유저들이 팀으로 모여 그 능력을 시험해 볼 수 있는 공간으로, 프로가 되기 위한 길로 향하는 첫 번째 관문입니다.</p>}
			@@if (htype == 03) {
			<div class="visual_area">
				<!-- Main Visual -->
				<h2 class="blind">Main Visual 영역</h2>
				<img src="../images/key_visual_sub_trials.jpg" alt="">
				<!-- //Main Visual -->
			</div>
			<div class="top_inner">
				<div class="title_area">
					<h2 class="h_tit">오버워치 컨텐더스 트라이얼 코리아</h2>
					<div class="date_bx">
						<span class="season"><em>SEASON 1</em></span>
						<span class="date">2018. 02. 12 – 2018. 02. 28</span>
					</div>
					<span class="logo"><img src="../images/logo/logo_trials.png" alt=""></span>
					<p class="txt">차기 시즌 컨텐더스 진출을 위한 단 4개의 자리를 두고 펼치는 치열한 경쟁!<br>오픈디비전 상위 4팀과 이전 컨텐더스에서 플레이오프 진출에 실패한 컨텐더스 4팀, 총 8팀이 컨텐더스 진출을 두고 펼치는 승강리그입니다.<br>컨텐더스 트라이얼은 컨텐더스 시즌 전 약3 주 간 진행되며 8팀 풀리그를 통해 상위 4팀은 컨텐더스 출전권을 획득합니다.</p>}
			@@if (htype == 04) {
			<div class="visual_area">
				<!-- Main Visual -->
				<h2 class="blind">Main Visual 영역</h2>
				<img src="../images/@key_visual_sub.jpg" alt="">
				<!-- //Main Visual -->
			</div>
			<div class="top_inner">
				<div class="title_area">
					<h2 class="h_tit">오버워치 대학 경쟁전</h2>
					<div class="date_bx">
						<span class="season"><em>SEASON 1</em> 진행중</span>
						<span class="date">2018. 03. 01 – 2018. 03. 30</span>
					</div>
					<span class="logo"><img src="../images/logo/logo_contenders.png" alt=""></span>
					<p class="txt">오버워치 컨텐더스는 최고의 자질을 지닌 선수들로 구성된 12개 팀이 일 년간 3차 시즌에 걸쳐 대회를 진행합니다.<br>오버워치 오픈 디비전 상위 4개 팀이 오버워치 컨텐더스 트라이얼에서 컨텐더스 팀들과 대결을 펼치며, 승리하는 팀은 오버워치 컨텐더스에 진출합니다.</p>}
				</div>
				@@if (type == 01) {
				<nav id="sub_nav">
					<div class="sub_navbx">
						<ul class="list_sub_nav">
						<li class="on"><a href="#">경기 현황</a></li>
						<li><a href="#">일정</a></li>
						<li><a href="#">팀</a></li>
						<li><a href="#">영상</a></li>
						<li><a href="#">뉴스</a></li>
						<li><a href="#">대회소개</a></li>
						</ul>
					</div>
				</nav>
				} @@if (type == 02) {
				<nav id="sub_nav">
					<div class="sub_navbx">
						<ul class="list_sub_nav">
						<li><a href="#">경기 현황</a></li>
						<li class="on"><a href="#">일정</a></li>
						<li><a href="#">팀</a></li>
						<li><a href="#">영상</a></li>
						<li><a href="#">뉴스</a></li>
						<li><a href="#">대회소개</a></li>
						</ul>
					</div>
				</nav>
				} @@if (type == 03) {
				<nav id="sub_nav">
					<div class="sub_navbx">
						<ul class="list_sub_nav">
						<li><a href="#">경기 현황</a></li>
						<li><a href="#">일정</a></li>
						<li class="on"><a href="#">팀</a></li>
						<li><a href="#">영상</a></li>
						<li><a href="#">뉴스</a></li>
						<li><a href="#">대회소개</a></li>
						</ul>
					</div>
				</nav>
				} @@if (type == 04) {
				<nav id="sub_nav">
					<div class="sub_navbx">
						<ul class="list_sub_nav">
						<li><a href="#">경기 현황</a></li>
						<li><a href="#">일정</a></li>
						<li><a href="#">팀</a></li>
						<li class="on"><a href="#">영상</a></li>
						<li><a href="#">뉴스</a></li>
						<li><a href="#">대회소개</a></li>
						</ul>
					</div>
				</nav>
				} @@if (type == 05) {
				<nav id="sub_nav">
					<div class="sub_navbx">
						<ul class="list_sub_nav">
						<li><a href="#">경기 현황</a></li>
						<li><a href="#">일정</a></li>
						<li><a href="#">팀</a></li>
						<li><a href="#">영상</a></li>
						<li class="on"><a href="#">뉴스</a></li>
						<li><a href="#">대회소개</a></li>
						</ul>
					</div>
				</nav>
				} @@if (type == 06) {
				<nav id="sub_nav">
					<div class="sub_navbx">
						<ul class="list_sub_nav">
						<li><a href="#">경기 현황</a></li>
						<li><a href="#">일정</a></li>
						<li><a href="#">팀</a></li>
						<li><a href="#">영상</a></li>
						<li><a href="#">뉴스</a></li>
						<li class="on"><a href="#">대회소개</a></li>
						</ul>
					</div>
				</nav>
				}
			</div>
		</div>