/* MAIN */
#wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 80px;
    @include box-sizing;
}
.page_wrap {
    overflow: hidden;
}
.page_transition {
    position: relative;
    height: 100%;
    &#custom_section {
        // opacity: 0;
    }
}
section,.section {
    width: 100%;
    height: 100%;
    height: 300px;
    font-size: 50px;
    text-align: center;
    &.home {
        background-color: aliceblue;
        .section1 {
            background-color: antiquewhite;
        }
        .section2 {
            background-color: aqua;
        }
        .section3 {
            background-color: aquamarine;
        }
        .section4 {
            background-color: beige;
        }
        .section5 {
            background-color: blueviolet;
        }
        .slick-dots {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
    &.story {
        background-color: burlywood;
    }
    &.about {
        background-color: teal;
    }
    &.gallery {
        background-color: chocolate;
    }
    &.news {
        background-color: coral;
    }
    .text {
        display: block;
        font-size: 30px;
        color: #fff;
        text-align: center;
    }
}
.home_slide {
    .section {
        font-size: 30px;
    }
}
.slick-slide {
    border: 0 !important;
    @include box-sizing;
    div {
        font-size: 0;
    }
}
.slick-arrow {
    position: absolute;
    top: 50%;
    left: -50px;
    z-index: 1;
    &.slick-next {
        right: -50px;
        left: auto;
    }
}
.slick-dots {
    font-size: 0;
    text-align: center;
    li {
        display: inline-block;
        margin-left: 5px;
        button {
            display: block;
            overflow: hidden;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            -ms-border-radius: 100%;
            -o-border-radius: 100%;
            background-color: #fff;
            line-height: 999px;
        }
        &.slick-active {
            button {
                background-color: black;
            }
        }
    }
}
.custom {
    #content {
        
    }
}
.text {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #000;
    font-size: 20px;
    color: #fff;
    line-height: 50px;
}