@@include('./include/head.html',{"title": "단지정보 : 메인 : 더비즈"})
<body>
<div id="wrap">
	<!-- [D] contents -->
	<main id="container">
		<section class="info_house">
			<div class="inner">
				<h1 class="h_tit">단지정보 (static)</h1>
				<div class="tbl_area">
					<table class="tbl">
					<caption><span>매물 정보</span></caption>
					<thead>
					<tr>
						<th scope="col">지역</th>
						<th scope="col">업데이트 날짜</th>
						<th scope="col">전세/매매</th>
						<th scope="col">가격</th>
						<th scope="col">조회수</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>84.45</td>
						<td>84.45</td>
						<td>84.45</td>
						<td>84.45</td>
						<td>1</td>
					</tr>
					<tr>
						<td>84.45</td>
						<td>84.45</td>
						<td>84.45</td>
						<td>84.45</td>
						<td>2</td>
					</tr>
					<tr>
						<td>84.45</td>
						<td>84.45</td>
						<td>84.45</td>
						<td>84.45</td>
						<td>3</td>
					</tr>
					</tbody>
					</table>
				</div>

				<h1 class="h_tit">단지정보 (by for in loop)</h1>
				<div id="forInLoop" class="tbl_area"></div>
				
				<h1 class="h_tit">단지정보 (by handelbars)</h1>
				<div id="handlebars" class="tbl_area"></div>

				<h1 class="h_tit">단지정보 (by handelbars with, as)</h1>
				<div class="" id="handlebars_withas" class="tbl_area"></div>
				
				<h1 class="h_tit">단지정보 (by promise)</h1>
				<div id="promise" class="tbl_area"></div>
			</div>
		</section>
	</main>
	<!-- //[D] contents -->

	<hr>

	<!-- [D] FOOTER -->
<!-- @@include('./include/footer.html') -->
	<!-- //[D] FOOTER -->
</div>


<!-- Javascript -->
@@include('./include/script.html')
<!-- // Javascript -->
</body>
</html>