@@include('./include/head.html',{"title": "e스포츠 소개 : 오버워치 e스포츠 : 오버워치 e스포츠", "type" : "01"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="introduce_esports">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02")
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		<div class="top_content">
			<div class="visual_area">
				<h2 class="tit">오버워치<span class="blank"></span><span class="txt_eng"> e</span>스포츠 소개</h2>
				<img src="../images/key_visual_sub_intro.jpg" alt="">
			</div>
		</div>
		<div class="intro_detail_wrap c_type">
			<div class="img_section">
				<span class="pc_img">
					<img src="../images/img_intro_default_pc.png" class="img_default" alt="">
					<img src="../images/img_intro_c_pc.png" class="img_c" alt="">
				</span>
				<span class="m_img">
					<img src="../images/img_intro_default_m.png" class="img_default" alt="">
				</span>
			</div>
			<div class="txt_section">
				<div class="h_txt">
					<p class="dsc">경쟁전을 시작으로 오버워치 리그까지!<br>오버워치를 즐기는 플레이어라면 누구나 함께할 수 있는 e스포츠 생태계를 구축하고자 합니다.<br>세계 무대에서 경쟁하는 플레이어들부터 이제 막 오버워치를 시작한 플레이어까지,<br>오버워치 e스포츠는 모든 수준의 플레이어들을 위한 대회를 제공합니다.</p>
				</div>
				<div class="item">
					<span class="thumb"><img src="../images/@intro_logo_league.jpg" alt=""></span>
					<strong class="tit">오버워치 리그</strong>
					<p class="dsc">오버워치 리그는 세계 최정상급 선수들이 도시를 연고로 한 팀에 소속되어 경쟁할 수 있도록 구상한 최초의 메이저 글로벌 e스포츠 리그입니다.<br>현재는 엄선된 선수들로 리그가 구성되어 있으며, 앞으로는 오버워치 리그 스카우트가 오버워치 컨텐더스에서 뛰어난 활약을 보여준 선수들을 영입하여 실력이 검증된<br>훌륭한 선수들이 계속해서 오버워치 리그에 충원될 예정입니다.<br>오버워치 리그 선수들은 기본 수입과 각종 혜택을 보장받으므로 안정적인 환경에서 오버워치 리그 챔피언십 우승과 수백만 달러의 보너스를 쟁취하기 위해 경쟁할 수<br>있습니다.</p>
					<a href="https://overwatchleague.com/ko-kr" class="link" target="_blank">오버워치 리그 페이지 바로가기</a>
				</div>
				<div class="item">
					<span class="thumb"><img src="../images/@intro_logo_worldcup.jpg" alt=""></span>
					<strong class="tit">오버워치 월드컵</strong>
					<p class="dsc">오버워치 월드컵은 각 국을 대표하는 오버워치 국가대표팀이 경쟁하는 대회로 매년 개최되고 있습니다.<br>오버워치 선수, 팬, 커뮤니티가 투표를 통해 선정한 국가대표 위원회를 선정하고, 참여국의 각 위원회는 최고의 선수들로 국가대표를 구성합니다.<br>총 32개국이 8개 조로 나뉘어 그룹 스테이지를 치루며, 플레이오프 및 결승은 매년 11월 미국 애너하임에서 열리는 블리즈컨(BlizzCon)에서 개최됩니다.</p>
					<a href="https://worldcup.playoverwatch.com/ko-kr/" class="link" target="_blank">오버워치 월드컵 페이지 바로가기</a>
				</div>
				<div class="item">
					<span class="thumb"><img src="../images/@intro_contenders.jpg" alt=""></span>
					<strong class="tit">오버워치 컨텐더스 코리아</strong>
					<p class="dsc">대한민국 최고의 오버워치 팀들이 격돌하는 꿈의 무대 오버워치 컨텐더스 코리아.12개 팀이 2개의 디비전으로 나뉘어 치열한 경합을 벌이고. 8강 플레이오프를 거쳐<br>파이널 무대를 통해 시즌 별 챔피언을 가리게 됩니다.<br>매년 3번의 시즌으로 나뉘어 진행되며, 시즌 상위 8개팀은 다음 시즌 참여의 기회를 부여 받게 됩니다.<br>매 시즌 새롭게 떠오르는 슈퍼스타 플레이어들의 화려한 플레이와 로열로더를 꿈꾸는 새로운 다크호스들의 우승을 향한 집념.대한민국을 넘어, 세계 최고 수준을<br>자랑하는 컨텐더스 프로플레이어 선수들의 눈부신 활약을 기대해 주세요.<br>오버워치 컨텐더스는 최고의 스포츠 전문 채널, MBC스포츠 플러스와 함께 합니다.</p>
				</div>
				<div class="item">
					<span class="thumb"><img src="../images/@intro_logo_trials.jpg" alt=""></span>
					<strong class="tit">오버워치 컨텐더스 트라이얼 코리아</strong>
					<p class="dsc">차기 시즌 컨텐더스 진출을 위한 단 4개의 자리를 두고 펼치는 치열한 경쟁<br>오픈디비전 상위 4팀과 이전 컨텐더스에서 플레이오프 진출에 실패한  컨텐더스 4팀, 총 8팀이 컨텐더스 진출을 두고 펼치는 승강리그입니다.<br>최고의 무대에 오르기 위한 처절한 사투, 컨텐더스 트라이얼은 컨텐더스 시즌 직전 약 4주 간 진행되며 8팀 풀리그를 통해 상위 4팀은 다음 시즌 컨텐더스 출전권을<br>획득합니다.</p>
				</div>
				<div class="item">
					<span class="thumb"><img src="../images/@intro_logo_opendivision.jpg" alt=""></span>
					<strong class="tit">오버워치 오픈디비전 코리아</strong>
					<p class="dsc">오버워치 플레이어라면 누구나 참여할 수 있는 오버워치 e스포츠 선수로써의 첫 데뷔무대!<br>오픈 디비전 코리아는 매년 3 시즌 진행되며 매 시즌 상위 4팀은 승강리그인 컨텐더스 트라이얼 코리아로 승급 되어 경합을 벌이게 됩니다.<br>오픈 디비전 코리아 초대 우승팀이자 APEX 로열로더였던 ‘GC 부산’은 이제는 오버워치 리그 런던 스핏파이어 팀을 중심으로 멋지게 자신의 꿈을 이루어 가고 있습니다.<br>내일의 스타를 꿈꾸는 플레이어 여러분이라면 지금 바로 도전하세요.</p>
				</div>
				<div class="item">
					<span class="thumb"><img src="../images/@intro_logo_tespa.jpg" alt=""></span>
					<strong class="tit">오버워치 대학부 토너먼트</strong>
					<p class="dsc">전국 모든 대학생 오버워치 플레이어들을 대상으로 하며, 학교의 명예를 걸고 경합을 벌이는 대학부 대회입니다.<br>특유의 젊은 패기와 학우들과의 팀워크를 뽐내고 멋진 추억을 쌓으세요!</p>
				</div>
				<div class="item">
					<span class="thumb"><img src="../images/@intro_logo_soldier.jpg" alt=""></span>
					<strong class="tit">오버워치 솔저 76 토너먼트</strong>
					<p class="dsc">오버워치 솔저76 토너먼트는 지난 2017년 육군과의 협력을 통해, 국내 최초로 육군참모 총장배 타이틀을 걸고 2017 지상군 페스티벌에서 개최되었습니다.<br>총 30개 사단에서 선발된 정예 오버워치 장병 180여명이 경합하여 12사단이 초대 챔피언의 영광을 차지 했습니다.<br>나만의 배틀태그가 아닌 나의 부대, 계급과 관등성명으로 아이디를 바꾸어 한 팀이 됐던 각 사단 대표팀들.<br>군대 시절 경험을 끊임없이 에피소드로 쏟아내던 중계진의 멘트와 시청자들의 폭발적인 채팅이 더해져, 오버워치 솔저76 토너먼트는 성공적으로 첫 대회를 마쳤습니다.<br>지상군 페스티벌과 블리자드 간의 업무 협약을 마친 만큼, 앞으로는 더욱 멋지고 풍성한 계획으로 여러분을 찾아가겠습니다.<br>이제 여러분들 발 뻗고 푹 주무십시오. 충성!</p>
				</div>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
@@include('./include/layer_team.html')
<!-- [D] LAYER -->

@@include('./include/script.html')
<script></script>
</body>
</html>