@@include('./include/head.html',{"title": "경기현황 : 오픈 디비전 : 오버워치 e스포츠", "type" : "03"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="bracket">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->
	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "02", "type" : "01"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">경기현황</h3>
				<ul class="list_menu">
				<li class="on"><a href="#">플레이오프</a></li>
				</ul>
			</div>
		</div>
		<div class="bracket_wrap">
		@@include('./include/svg.html')
			<div class="bracket_area">
				<div class="round round4"><!--[D] 경기 진행중인 경우 .on 추가-->
					<h4 class="tit">16강</h4>
					<div class="team_area">
						<div class="team_wrap">
							<div class="team_bx team_bx1" data-match-no="1">
								<span class="match_num">1</span>
								<div class="team team_a win" data-team-no="14"><!--[D] .ing 경기 진행중 | .win 승자 | .lose 패자 | .bye 부전승 | .out 실격 | .finalwinner 최종우승시 첫 라운드부터 추가-->
									<span class="team_logo"><img src="../images/division/OpenDivision_TeamNexus_200.png" alt=""></span>
									<span class="team_name"><span class="in">Team Nexus</span></span>
									<span class="team_score">3</span>
									<span class="connector connector1"></span>
								</div>
								<div class="team team_b lose" data-team-no="13">
									<span class="team_logo"><img src="../images/division/OpenDivision_RMG_200.png" alt=""></span>
									<span class="team_name"><span class="in">RMG</span></span>
									<span class="team_score">0</span>
									<span class="connector connector2"></span>
								</div>
							</div>
						</div>
						<div class="team_wrap">
							<div class="team_bx team_bx2" data-match-no="2">
								<span class="match_num">2</span>
								<div class="team team_a win" data-team-no="15">
									<span class="team_logo"><img src="../images/division/OpenDivision_TheFace_200.png" alt=""></span>
									<span class="team_name"><span class="in">The Face</span></span>
									<span class="team_score">3</span>
									<span class="connector connector3"></span>
								</div>
								<div class="team team_b lose" data-team-no="6">
									<span class="team_logo"><img src="../images/division/OpenDivision_ExtreamGamer_200.png" alt=""></span>
									<span class="team_name"><span class="in">Extream Gamer</span></span>
									<span class="team_score">0</span>
									<span class="connector connector4"></span>
								</div>
							</div>
						</div>
						<div class="team_wrap">
							<div class="team_bx team_bx1" data-match-no="3">
								<span class="match_num">3</span>
								<div class="team team_a lose" data-team-no="8"><!--[D] .ing 경기 진행중 | .win 승자 | .lose 패자 | .bye 부전승 | .out 실격 | .finalwinner 최종우승시 첫 라운드부터 추가-->
									<span class="team_logo"><img src="../images/division/OpenDivision_LEOS_200.png" alt=""></span>
									<span class="team_name"><span class="in">LEOS</span></span>
									<span class="team_score">0</span>
									<span class="connector connector1"></span>
								</div>
								<div class="team team_b win" data-team-no="12">
									<span class="team_logo"><img src="../images/division/OpenDivision_RequiemSix_200.png" alt=""></span>
									<span class="team_name"><span class="in">Requiem Six</span></span>
									<span class="team_score">3</span>
									<span class="connector connector2"></span>
								</div>
							</div>
						</div>
						<div class="team_wrap">
							<div class="team_bx team_bx2" data-match-no="4">
								<span class="match_num">4</span>
								<div class="team team_a lose" data-team-no="16">
									<span class="team_logo"><img src="../images/division/OpenDivision_veritas_200.png" alt=""></span>
									<span class="team_name"><span class="in">veritas</span></span>
									<span class="team_score">2</span>
									<span class="connector connector3"></span>
								</div>
								<div class="team team_b win" data-team-no="9">
									<span class="team_logo"><img src="../images/division/OpenDivision_MadDogs_200.png" alt=""></span>
									<span class="team_name"><span class="in">Mad Dogs</span></span>
									<span class="team_score">3</span>
									<span class="connector connector4"></span>
								</div>
							</div>
						</div>
						<div class="team_wrap">
							<div class="team_bx team_bx1" data-match-no="5">
								<span class="match_num">5</span>
								<div class="team team_a win" data-team-no="11"><!--[D] .ing 경기 진행중 | .win 승자 | .lose 패자 | .bye 부전승 | .out 실격 | .finalwinner 최종우승시 첫 라운드부터 추가-->
									<span class="team_logo"><img src="../images/division/OpenDivision_MilkyWay_200.png" alt=""></span>
									<span class="team_name"><span class="in">Milky way</span></span>
									<span class="team_score">3</span>
									<span class="connector connector1"></span>
								</div>
								<div class="team team_b lose" data-team-no="2">
									<span class="team_logo"><img src="../images/division/OpenDivision_BWW_200.png" alt=""></span>
									<span class="team_name"><span class="in">BWW</span></span>
									<span class="team_score">0</span>
									<span class="connector connector2"></span>
								</div>
							</div>
						</div>
						<div class="team_wrap">
							<div class="team_bx team_bx2" data-match-no="6">
								<span class="match_num">6</span>
								<div class="team team_a lose" data-team-no="3">
									<span class="team_logo"><img src="../images/division/OpenDivision_coco_200.png" alt=""></span>
									<span class="team_name"><span class="in">코코 양치해또</span></span>
									<span class="team_score">0</span>
									<span class="connector connector3"></span>
								</div>
								<div class="team team_b win" data-team-no="4">
									<span class="team_logo"><img src="../images/division/OpenDivision_CRusher_200.png" alt=""></span>
									<span class="team_name"><span class="in">CRusher</span></span>
									<span class="team_score">3</span>
									<span class="connector connector4"></span>
								</div>
							</div>
						</div>
						<div class="team_wrap">
							<div class="team_bx team_bx1" data-match-no="7">
								<span class="match_num">7</span>
								<div class="team team_a win" data-team-no="10"><!--[D] .ing 경기 진행중 | .win 승자 | .lose 패자 | .bye 부전승 | .out 실격 | .finalwinner 최종우승시 첫 라운드부터 추가-->
									<span class="team_logo"><img src="../images/division/OpenDivision_MAXTILLTK_200.png" alt=""></span>
									<span class="team_name"><span class="in">MAXTILL TK</span></span>
									<span class="team_score">3</span>
									<span class="connector connector1"></span>
								</div>
								<div class="team team_b lose" data-team-no="1">
									<span class="team_logo"><img src="../images/division/OpenDivision_Afresh_200.png" alt=""></span>
									<span class="team_name"><span class="in">Afresh</span></span>
									<span class="team_score">1</span>
									<span class="connector connector2"></span>
								</div>
							</div>
						</div>
						<div class="team_wrap">
							<div class="team_bx team_bx2" data-match-no="8">
								<span class="match_num">8</span>
								<div class="team team_a lose" data-team-no="7">
									<span class="team_logo"><img src="../images/division/OpenDivision_FatCat_200.png" alt=""></span>
									<span class="team_name"><span class="in">FatCat</span></span>
									<span class="team_score">1</span>
									<span class="connector connector3"></span>
								</div>
								<div class="team team_b win" data-team-no="5">
									<span class="team_logo"><img src="../images/division/OpenDivision_EXLCLEA_200.png" alt=""></span>
									<span class="team_name"><span class="in">EXL-CLEA</span></span>
									<span class="team_score">3</span>
									<span class="connector connector4"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="round round3">
					<h4 class="tit">8강</h4>
					<div class="team_area">
						<div class="team_wrap">
							<div class="team_bx team_bx1" data-match-no="9">
								<span class="match_num">1</span>
								<div class="team team_a lose" data-team-no="14"><!--[D] .ing 경기 진행중 | .win 승자 | .lose 패자 | .bye 부전승 | .out 실격 | .finalwinner 최종우승시 첫 라운드부터 추가-->
									<span class="team_logo"><img src="../images/division/OpenDivision_TeamNexus_200.png" alt=""></span>
									<span class="team_name"><span class="in">Team Nexus</span></span>
									<span class="team_score">1</span>
									<span class="connector connector1"></span>
								</div>
								<div class="team team_b win" data-team-no="15">
									<span class="team_logo"><img src="../images/division/OpenDivision_TheFace_200.png" alt=""></span>
									<span class="team_name"><span class="in">The Face</span></span>
									<span class="team_score">3</span>
									<span class="connector connector2"></span>
								</div>
							</div>
						</div>
						<div class="team_wrap">
							<div class="team_bx team_bx2" data-match-no="10">
								<span class="match_num">2</span>
								<div class="team team_a win" data-team-no="12">
									<span class="team_logo"><img src="../images/division/OpenDivision_RequiemSix_200.png" alt=""></span>
									<span class="team_name"><span class="in">Requiem Six</span></span>
									<span class="team_score">3</span>
									<span class="connector connector3"></span>
								</div>
								<div class="team team_b lose" data-team-no="9">
									<span class="team_logo"><img src="../images/division/OpenDivision_MadDogs_200.png" alt=""></span>
									<span class="team_name"><span class="in">Mad Dogs</span></span>
									<span class="team_score">2</span>
									<span class="connector connector4"></span>
								</div>
							</div>
						</div>
						<div class="team_wrap">
							<div class="team_bx team_bx1" data-match-no="11">
								<span class="match_num">3</span>
								<div class="team team_a lose" data-team-no="11"><!--[D] .ing 경기 진행중 | .win 승자 | .lose 패자 | .bye 부전승 | .out 실격 | .finalwinner 최종우승시 첫 라운드부터 추가-->
									<span class="team_logo"><img src="../images/division/OpenDivision_MilkyWay_200.png" alt=""></span>
									<span class="team_name"><span class="in">Milky way</span></span>
									<span class="team_score">1</span>
									<span class="connector connector1"></span>
								</div>
								<div class="team team_b win" data-team-no="4">
									<span class="team_logo"><img src="../images/division/OpenDivision_CRusher_200.png" alt=""></span>
									<span class="team_name"><span class="in">CRusher</span></span>
									<span class="team_score">3</span>
									<span class="connector connector2"></span>
								</div>
							</div>
						</div>
						<div class="team_wrap">
							<div class="team_bx team_bx2" data-match-no="12">
								<span class="match_num">4</span>
								<div class="team team_a out win" data-team-no="10">
									<span class="team_logo"><img src="../images/division/OpenDivision_MAXTILLTK_200.png" alt=""></span>
									<span class="team_name"><span class="in">MAXTILL TK</span></span>
									<span class="team_score">3</span>
									<span class="connector connector3"></span>
								</div>
								<div class="team team_b bye lose" data-team-no="5">
									<span class="team_logo"><img src="../images/division/OpenDivision_EXLCLEA_200.png" alt=""></span>
									<span class="team_name"><span class="in">EXL-CLEA</span></span>
									<span class="team_score">0</span>
									<span class="connector connector4"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="round round2">
					<h4 class="tit">준결승</h4>
					<div class="team_area">
						<div class="team_wrap">
							<div class="team_bx team_bx1" data-match-no="13">
								<span class="match_num">1</span>
								<div class="team team_a lose" data-team-no="15">
									<span class="team_logo"><img src="../images/division/OpenDivision_TheFace_200.png" alt=""></span>
									<span class="team_name"><span class="in">The Face</span></span>
									<span class="team_score">1</span>
									<span class="connector connector1"></span>
								</div>
								<div class="team team_b win" data-team-no="12">
									<span class="team_logo"><img src="../images/division/OpenDivision_RequiemSix_200.png" alt=""></span>
									<span class="team_name"><span class="in">Requiem Six</span></span>
									<span class="team_score">3</span>
									<span class="connector connector2"></span>
								</div>
							</div>
						</div>
						<div class="team_wrap">
							<div class="team_bx team_bx2" data-match-no="14">
								<span class="match_num">2</span>
								<div class="team team_a lose" data-team-no="4">
									<span class="team_logo"><img src="../images/division/OpenDivision_CRusher_200.png" alt=""></span>
									<span class="team_name"><span class="in">CRusher</span></span>
									<span class="team_score">1</span>
									<span class="connector connector3"></span>
								</div>
								<div class="team team_b win" data-team-no="5">
									<span class="team_logo"><img src="../images/division/OpenDivision_EXLCLEA_200.png" alt=""></span>
									<span class="team_name"><span class="in">EXL-CLEA</span></span>
									<span class="team_score">3</span>
									<span class="connector connector4"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="round round1">
					<h4 class="tit">결승</h4>
					<div class="team_area">
						<div class="team_wrap">
							<div class="team_bx" data-match-no="16">
								<div class="team team_a win" data-team-no="12">
									<span class="team_logo"><img src="../images/division/OpenDivision_RequiemSix_200.png" alt=""></span>
									<span class="team_name"><span class="in">Requiem Six</span></span>
									<span class="team_score">4</span>
								</div>
								<div class="team team_b lose" data-team-no="5">
									<span class="team_logo"><img src="../images/division/OpenDivision_EXLCLEA_200.png" alt=""></span>
									<span class="team_name"><span class="in">EXL-CLEA</span></span>
									<span class="team_score">3</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="btn_download"><span class="txt"><span class="in">이전 경기<br>결과 보기</span></span></a>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
@@include('./include/layer_score.html')
@@include('./include/layer_media.html')
@@include('./include/layer_team.html')
<!-- [D] LAYER -->

@@include('./include/script.html')
<script></script>
</body>
</html>