@@include('./include/head.html',{"title": "대회 소개문 : 대회 소개문 : 오버워치 e스포츠", "type" : "03"})
<body>
@@include('./include/skipnavigation.html')
@@include('./include/banner3.html')
<div id="wrap" class="introduce_league">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "02"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "02", "type" : "06"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">대회 소개문</h3>
			</div>
		</div>
		<div class="intro_wrap a_type">
			<div class="section">
				<div class="area">
					<div class="intro_img">
						<img src="../images/intro_opendivision.jpg" alt="">
					</div>
					<div class="cont">
						<strong class="tit">오버워치 오픈 디비전 코리아 시즌2</strong>
						<p class="intro_dsc1">오픈디비전은 아마추어에서 프로로 갈 수 있는 첫번째 관문입니다.<br>프로가 되고 싶은 유저들이 팀을 구성하여 자신의 능력을 보여줄 수 있는 공간으로,<br>프로가 되기 위한 첫 걸음입니다.<br>시즌1에 이어 시즌2에서도 새로운 팀들의 도전기를 기대하며, 모든 선수들과 팬들에게 멋진 경험과 추억을 선사하겠습니다.</p>
						<strong class="s_tit1">참가방법 (모집기간 : 3월 30일 금요일 ~ 4월 23일 월요일)</strong>
						<p class="intro_dsc2">게임 아레나 <a href="http://arena.wara.gg/" class="link" target="_blank">http://arena.wara.gg/</a> 를 통하여 대회를 진행함에 결격 사유가 없는<br>플레이어들은 자유롭게 신청이 가능합니다.</p>
						<ul class="link_txt">
							<li><a href="http://arena.wara.gg/league/division/24" target="_blank">시즌2 챌린저 예선 참여하기 ></a></li>
							<li><a href="http://arena.wara.gg/league/division/25" target="_blank">시즌2 마스터 예선 참여하기 ></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="area">
					<div class="intro_img">
							<img src="../images/intro_opendivision2.png" alt="">
						</div>
					<div class="cont">
						<strong class="tit">대회 일정</strong>
						<strong class="s_tit2">예선전</strong>
						<ul class="match_lst">
							<li class="match_item">
								<em class="match_title">챌린저 예선 풀리그전</em>
								<span class="match_date">2018년 4월 28일(토), 4월 29일(일) 오후 4시</span>
								<p class="match_dsc">모집된 팀을 기준으로 8팀씩 1개 그룹으로 임의 배치합니다.<br>생성된 각 그룹에서 1위팀만 마스터 예선 결정전에 진출하게 됩니다.</p>
							</li>
							<li class="match_item">
								<em class="match_title">순위 결정전</em>
								<span class="match_date">2018년 5월 5일(토) 오후 4시</span>
								<p class="match_dsc">챌린저 예선 풀리그전에서 1위가 결정되지 않을 경우, 순위 결정전을 통하여 마스터 예선<br>결정전에 진출할 팀을 정합니다.</p>
							</li>
							<li class="match_item">
								<em class="match_title">마스터 예선 진출 결정전</em>
								<span class="match_date">2018년 5월 6일(일) 오후 4시</span>
								<p class="match_dsc">챌린저 예선 풀리그전을 1위로 통과한 팀들을 대상으로 16개의 그룹으로 임의 분배하여,<br>3판 2선승 토너먼트를 진행합니다. 각 그룹의 1위팀만 마스터 예선으로 진출합니다.</p>
							</li>
							<li class="match_item">
								<em class="match_title">마스터 예선 풀리그전</em>
								<span class="match_date">2018년 5월 13일(일) 오후 4시</span>
								<p class="match_dsc">마스터 예선 팀의 자격을 갖춘 팀들과 챌린저 예선을 거쳐 올라온 팀들을 대상으로<br>16개 그룹으로 임의 분배하여, 풀리그 형식으로 진행합니다.<br>각 그룹의 1위팀만 플레이 오프로 진출합니다.</p>
								<p class="match_dsc">*마스터 예선 팀 자격: 선발 로스터 6인 전원이 시즌8 기준 마스터 등급 이상일 경우에만<br>마스터 예선에 참여할 수 있습니다.<br>지원 팀에 대한 등급 확인 후 등급조건에 맞지 않는 팀의 경우 주최측에 의해 챌린저<br>예선으로 이동, 또는 참여취소가 될 수 있습니다.</p>
							</li>
							<li class="match_item">
								<em class="match_title">마스터 예선 조 추첨식</em>
								<span class="match_date">2018년 5월 13일(일) 오후 11시</span>
								<p class="match_dsc">마스터 예선에 진출한 모든 팀을 대상으로 조 추첨을 진행합니다.<br>조 추첨은 트위치 방송으로 진행됩니다.</p>
							</li>
						</ul>
						<strong class="s_tit2">본선</strong>
						<ul class="match_lst">
							<li class="match_item">
								<em class="match_title">16강</em>
								<span class="match_date">2018년 5월 19일(토) 오후 12시</span>
								<p class="match_dsc">WDG PC방에서 오프라인 토너먼트를 진행합니다.<br>각 경기는 5판 3선승 토너먼트로 진행됩니다.</p>
							</li>
							<li class="match_item">
								<em class="match_title">8강/4강</em>
								<span class="match_date">2018년 5월 20일(일) 오후 12시</span>
								<p class="match_dsc">WDG PC방에서 오프라인 토너먼트를 진행합니다.<br>각 경기는 5판 3선승 토너먼트로 진행됩니다.</p>
							</li>
							<li class="match_item">
								<em class="match_title">3,4위전 및 결승</em>
								<span class="match_date">2018년 5월 26일(토) 오후 12시 (방송경기)</span>
								<p class="match_dsc">WDG PC방에서 오프라인 토너먼트를 진행합니다.<br>트위치의 방송 경기로 3,4위전은 5판 3선승 토너먼트, 결승전은 7판 4선승 토너먼트로<br>진행됩니다.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="area">
					<div class="intro_img">
						<img src="../images/intro_opendivision3.png" alt="">
					</div>
					<div class="cont">
						<strong class="tit">상금</strong>
						<ul class="prize_lst">
							<li class="prize_item rank1">
								<em class="prize_title">1등</em><span class="prize_dsc">5,000,000원</span>
							</li>
							<li class="prize_item">
								<em class="prize_title">2등</em><span class="prize_dsc">3,000,000원</span>
							</li>
							<li class="prize_item">
								<em class="prize_title">3~4등</em><span class="prize_dsc">1,000,000원</span>
							</li>
							<li class="prize_item">
								<em class="prize_title">5~8등</em><span class="prize_dsc">500,000원</span>
							</li>
							<li class="prize_item">
								<em class="prize_title">트라이얼 코리아 진출권</em><span class="prize_dsc">오버워치 컨텐더스 트라이얼 코리아 진출권 1위 ~ 4위 (4장)</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
@@include('./include/layer_team.html')
<!-- [D] LAYER -->

@@include('./include/script.html')
<script></script>
</body>
</html>