@@include('./include/head.html',{"title": "뉴스 : 오픈 디비전 : 오버워치 e스포츠", "type" : "03"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="news">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "02", "type" : "05"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">뉴스</h3>
			</div>
		</div>
		<div class="news_wrap">
			<!-- <div class="media_area">
				<div class="main_bx media_cont1">
					<a href="#" class="news btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="noti btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="news btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="news btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
				</div>
				<div class="sub_bx media_cont1">
					<a href="#" class="news btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="noti btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
				</div>
			</div> -->
			<div class="news_area">
				<h3 class="s_tit">최근뉴스</h3>
				<ul class="list_news">
				<li>
					<a href="#" class="news_item">
						<em class="label news">뉴스</em>
						<span class="thumb"><img src="../images/thumb_default.png" alt="이미지"></span>
						<div class="cont">
							<strong class="tit">‘2018 오버워치 오픈 디비전 코리아’, 4일 결선 개최</strong>
							<p class="desc">2월 4일(일), 시즌 1 결승 및 3∙4위 결정전 오후 2시부터 트위치 생중계 총 상금 1,200만원, 상위 3개팀 컨텐더스 트라이얼 진출권 부여 ‘1,654대 1’ 경쟁률 뚫고 우승을 차지할 팀에 대한 오버워치 팬들의 관심 고조</p>
							<ul class="info">
								<li class="sort">오픈 디비전</li>
								<li class="time">2018.02.02</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="news_item">
						<em class="label news">뉴스</em>
						<span class="thumb"><img src="../images/thumb_default.png" alt="이미지"></span>
						<div class="cont">
							<strong class="tit">‘2018 오버워치 오픈 디비전 코리아’13일 개막</strong>
							<p class="desc">총1,500팀 이상 참가 신청하며 오버워치 이스포츠에 대한 높은 관심 입증 팬들의 뜨거운 관심 속에 2월 4일까지 총 상금 1,200 만원을 건 치열한 대결 펼쳐져</p>
							<ul class="info">
								<li class="sort">오픈 디비전</li>
								<li class="time">2018.01.12</li>
							</ul>
						</div>
					</a>
				</li>
				</ul>
			</div>
		</div>
		<!-- 띠배너 -->
		<a href="#" class="banner_wrap2">
			<div class="inner">
				<div class="text_area">
					<p class="tit">오버워치 컨텐더스 플레이오프 티켓 구매하기</p>
					<p class="sub">최고의 선수들이 모인 오버워치 컨텐더스의 뜨거운 열기를 느껴보세요!</p>
				</div>
			</div>
			<img src="../images/@banner4.jpg" alt="">
		</a>
		<!-- //띠배너 -->
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

@@include('./include/script.html')
<script>
</script>
</body>
</html>