@@include('./include/head.html',{"title": "일정 :  오픈 디비전 : 오버워치 e스포츠", "type" : "03"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="schedule">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "02", "type" : "02"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">일정</h3>
				<p class="sub_dsc">* 첫 경기 종료시점에 따라 이후 경기 시작시간이 조정될 수 있습니다.</p>
			</div>
		</div>
		<div class="schedule_wrap">
			<div class="schedule_area">
				<ul class="list_schedule">
				<li data-week="2018-1-5" class="week_item">
					<a href="#" class="summary">
						<span class="day">1 주차</span>
						<span class="date">2018. 01. 28 - 2018. 02. 03</span>
					</a>
					<ul class="list_schedule_detail">
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 12:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="1">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Team Nexus</span>
									<a class="team_logo" href="#" data-team-no="14"><img src="../images/division/OpenDivision_TeamNexus_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="13"><img src="../images/division/OpenDivision_RMG_200.png" alt=""></a>
									<span class="name">RMG</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 12:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="2">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">The Face</span>
									<a href="#" class="team_logo" data-team-no="15"><img src="../images/division/OpenDivision_TheFace_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="6"><img src="../images/division/OpenDivision_ExtreamGamer_200.png" alt=""></a>
									<span class="name">Extream Gamer</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 12:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="3">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Requiem Six</span>
									<a href="#" class="team_logo" data-team-no="12"><img src="../images/division/OpenDivision_RequiemSix_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="8"><img src="../images/division/OpenDivision_LEOS_200.png" alt=""></a>
									<span class="name">LEOS</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 12:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="4">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">veritas</span>
									<a href="#" class="team_logo" data-team-no="16"><img src="../images/division/OpenDivision_veritas_200.png" alt=""></a>
									<span class="score">2</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="9"><img src="../images/division/OpenDivision_MadDogs_200.png" alt=""></a>
									<span class="name">Mad Dogs</span>
									<span class="score">3</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 12:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="6">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">CRusher</span>
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/division/OpenDivision_CRusher_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="3"><img src="../images/division/OpenDivision_coco_200.png" alt=""></a>
									<span class="name">코코 양치해또</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 12:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="5">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Milky way</span>
									<a href="#" class="team_logo" data-team-no="11"><img src="../images/division/OpenDivision_MilkyWay_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="2"><img src="../images/division/OpenDivision_BWW_200.png" alt=""></a>
									<span class="name">BWW</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 12:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="7">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">MAXTILL TK</span>
									<a href="#" class="team_logo" data-team-no="10"><img src="../images/division/OpenDivision_MAXTILLTK_200.png" alt=""></a>
									<span class="score">1</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="1"><img src="../images/division/OpenDivision_Afresh_200.png" alt=""></a>
									<span class="name">Afresh</span>
									<span class="score">3</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 12:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="8">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">FatCat</span>
									<a href="#" class="team_logo" data-team-no="7"><img src="../images/division/OpenDivision_FatCat_200.png" alt=""></a>
									<span class="score">1</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="5"><img src="../images/division/OpenDivision_EXLCLEA_200.png" alt=""></a>
									<span class="name">EXL-CLEA</span>
									<span class="score">3</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 3:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="11">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">Milky way</span>
									<a href="#" class="team_logo" data-team-no="11"><img src="../images/division/OpenDivision_MilkyWay_200.png" alt=""></a>
									<span class="score">1</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/division/OpenDivision_CRusher_200.png" alt=""></a>
									<span class="name">CRusher</span>
									<span class="score">3</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 3:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="10">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Requiem Six</span>
									<a href="#" class="team_logo" data-team-no="12"><img src="../images/division/OpenDivision_RequiemSix_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="9"><img src="../images/division/OpenDivision_MadDogs_200.png" alt=""></a>
									<span class="name">Mad Dogs</span>
									<span class="score">2</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 3:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="9">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">The Face</span>
									<a href="#" class="team_logo" data-team-no="15"><img src="../images/division/OpenDivision_TheFace_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="14"><img src="../images/division/OpenDivision_TeamNexus_200.png" alt=""></a>
									<span class="name">Team Nexus</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 01.28 - 3:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="12">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">EXL-CLEA</span>
									<a href="#" class="team_logo" data-team-no="5"><img src="../images/division/OpenDivision_EXLCLEA_200.png" alt=""></a>
									<span class="score">0</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="10"><img src="../images/division/OpenDivision_MAXTILLTK_200.png" alt=""></a>
									<span class="name">MAXTILL TK</span>
									<span class="score">3</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.03 - 4:00 오후</span>
								<span class="day">토요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="13">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">The Face</span>
									<a href="#" class="team_logo" data-team-no="15"><img src="../images/division/OpenDivision_TheFace_200.png" alt=""></a>
									<span class="score">1</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="12"><img src="../images/division/OpenDivision_RequiemSix_200.png" alt=""></a>
									<span class="name">Requiem Six</span>
									<span class="score">3</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.03 - 4:00 오후</span>
								<span class="day">토요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="14">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">EXL-CLEA</span>
									<a href="#" class="team_logo" data-team-no="5"><img src="../images/division/OpenDivision_EXLCLEA_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/division/OpenDivision_CRusher_200.png" alt=""></a>
									<span class="name">CRusher</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					</ul>
				</li>
				<li data-week="2018-2-2" class="week_item">
					<a href="#" class="summary">
						<span class="day">2 주차</span>
						<span class="date">2018. 02. 04 - 2018. 02. 10</span>
					</a>
					<ul class="list_schedule_detail">
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.04 - 2:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="15">전장스코어</a>
								<a href="#" class="btn btn_vod" data-video-no="15">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">The Face</span>
									<a href="#" class="team_logo" data-team-no="15"><img src="../images/division/OpenDivision_TheFace_200.png" alt=""></a>
									<span class="score">1</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/division/OpenDivision_CRusher_200.png" alt=""></a>
									<span class="name">CRusher</span>
									<span class="score">3</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.04 - 2:00 오후</span>
								<span class="day">일요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="16">전장스코어</a>
								<a href="#" class="btn btn_vod" data-video-no="16">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Requiem Six</span>
									<a href="#" class="team_logo" data-team-no="12"><img src="../images/division/OpenDivision_RequiemSix_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="5"><img src="../images/division/OpenDivision_EXLCLEA_200.png" alt=""></a>
									<span class="name">EXL-CLEA</span>
									<span class="score">3</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					</ul>
				</li>
				</ul>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>
<!-- [D] LAYER -->
@@include('./include/layer_score.html')
@@include('./include/layer_media.html')
@@include('./include/layer_team.html')
<!-- [D] LAYER -->
@@include('./include/script.html')
</body>
</html>