@@include('./include/head.html',{"title": "일정 (대회전) :  오픈 디비전 : 오버워치 e스포츠", "type" : "03"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="schedule">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "02", "type" : "02"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">일정</h3>
				<p class="sub_dsc">* 첫 경기 종료시점에 따라 이후 경기 시작시간이 조정될 수 있습니다.</p>
			</div>
		</div>
		<div class="coming_soon">
			<div class="inner">
				<img src="../images/bg_overwatch2.png" alt="">
				<p class="tit">시즌 정보가 곧 업데이트 됩니다</p>
				<p class="sub">자세한 대회 정보는 추후 공지 될 예정입니다</p>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>
<!-- [D] LAYER -->
@@include('./include/layer_score.html')
@@include('./include/layer_media.html')
@@include('./include/layer_team.html')
<!-- [D] LAYER -->
@@include('./include/script.html')
</body>
</html>