@@include('./include/head.html',{"title": "대회 소개문 : 컨텐더스 트라이얼 : 오버워치 e스포츠", "type" : "04"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="introduce_league">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "03", "type" : "06"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">대회 소개문</h3>
			</div>
		</div>
		<div class="intro_wrap a_type">
			<!-- <div class="section">
				<div class="area">
					<div class="intro_img">
						<img src="../images/@intro_img1.jpg" alt="">
					</div>
					<div class="cont">
						<strong class="tit">오버워치 오픈 디비전에 오신 것을 환영합니다.</strong>
						<p class="intro_dsc1">오버워치 오픈디비전은 블리자드 엔터테인먼트의 오버워치에서 스타 선수가 되기 위한<br>첫 여정입니다. 프로 선수가 되고 싶은 유저들이 팀으로 모여 그 능력을 시험해 볼 수 있는<br>공간으로, 프로가 되기 위한 길로 향하는 첫 번째 관문입니다.</p>
						<strong class="s_tit1">참가방법</strong>
						<p class="intro_dsc2"><a href="http://overwatch-opendivision.kr/" class="link" target="_blank">http://overwatch-opendivision.kr/</a> 및 <a href="http://arena.wara.gg/" class="link" target="_blank">http://arena.wara.gg/</a><br>를 통하여 대회를 진행함에 결격 사유가 없는 플레이어들은 자유롭게 신청이 가능합니다.</p>
					</div>
				</div>
			</div> -->
			<div class="section">
				<div class="area">
					<div class="intro_img">
							<img src="../images/intro_trial.png" alt="">
						</div>
					<div class="cont">
						<strong class="tit">대회 일정</strong>
						<strong class="s_tit2">오버워치 컨텐더스 트라이얼 코리아 시즌 1</strong>
						<ul class="match_lst">
							<li class="match_item">
								<em class="match_title">기간</em>
								<span class="match_date">2018년 2월 12일 – 2월 28일</span>
							</li>
							<li class="match_item">
								<em class="match_title">일시</em>
								<span class="match_date">매주 월화수 오후 3시</span>
							</li>
							<li class="match_item">
								<em class="match_title">장소</em>
								<span class="match_date">게임이너스 강남이스포츠점</span>
							</li>
							<li class="match_item">
								<em class="match_title">참가팀 수</em>
								<span class="match_date">8팀</span>
							</li>
							<li class="match_item">
								<em class="match_title">경기방식</em>
								<span class="match_date">풀리그</span>
							</li>
							<li class="match_item">
								<em class="match_title">상금</em>
								<span class="match_date">약 1천 6백만원</span>
							</li>
							<li class="match_item">
								<em class="match_title">중계</em>
								<span class="match_date">트위치 (디지털)</span>
								<ul class="social">
									<li><a href="https://www.facebook.com/owcontenderskr/" class="facebook" target="_blank"><span class="blind">페이스북</span></a></li>
									<li><a href="https://www.twitch.tv/playoverwatch_kr" class="twitch" target="_blank"><span class="blind">트위치</span></a></li>
								</ul>
							</li>
						</ul>
						<ul class="match_lst">
							<li class="match_item">
								<em class="match_title">풀 리그 전</em>
								<span class="match_date">2018년 2월 12일 – 2월 28일 매주 월화수 오후 3시</span>
								<p class="match_dsc">트라이얼 코리아에 참가하는 8개팀은 풀리그 방식을 통해 매치를 진행하고, 상위 4팀은 다음 시즌 컨텐더스 코리아 출전권을 획득합니다.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="area">
					<div class="intro_img">
						<img src="../images/intro_trial3.png" alt="">
					</div>
				</div>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
@@include('./include/layer_team.html')
<!-- [D] LAYER -->

@@include('./include/script.html')
<script></script>
</body>
</html>