@@include('./include/head.html',{"title": "일정 :  컨텐더스 트라이얼 : 오버워치 e스포츠", "type" : "04"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="schedule">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "03", "type" : "02"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">일정</h3>
				<p class="sub_dsc">* 첫 경기 종료시점에 따라 이후 경기 시작시간이 조정될 수 있습니다.</p>
			</div>
		</div>
		<div class="schedule_wrap">
			<div class="schedule_area">
				<ul class="list_schedule">
				<li data-week="2018-2-3" class="week_item"><!--[D] data-week="년-월-주-"-->
					<a href="#" class="summary">
						<span class="day">1 주차</span>
						<span class="date">2018. 02. 11 - 2018. 02. 17</span>
					</a>
					<ul class="list_schedule_detail">
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.12 - 3:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="1">전장스코어</a>
								<a href="javascript:void(0);" class="btn btn_vod disabled" data-video-no="1">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Seven</span>
									<a class="team_logo" href="#" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
									<span class="name">Requiem Six</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.12 - 3:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="2">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="2">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">MVP SPACE</span>
									<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
									<span class="name">BSG</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.12 - 3:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="3">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="3">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">Meta Bellum</span>
									<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
									<span class="score">1</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
									<span class="name">Meta Athena</span>
									<span class="score">2</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.13 - 3:00 오후</span>
								<span class="day">화요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="4">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="4">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">EXL-CLEA</span>
									<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
									<span class="name">CRusher</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.13 - 3:00 오후</span>
								<span class="day">화요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="5">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="5">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">BSG</span>
									<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
									<span class="name">Requiem Six</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.13 - 3:00 오후</span>
								<span class="day">화요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="6">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="6">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">Seven</span>
									<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
									<span class="score">0</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
									<span class="name">Meta Athena</span>
									<span class="score">4</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.14 - 3:00 오후</span>
								<span class="day">수요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="7">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="7">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Meta Bellum</span>
									<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
									<span class="name">CRusher</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.14 - 3:00 오후</span>
								<span class="day">수요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="8">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="8">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">MVP SPACE</span>
									<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
									<span class="name">EXL-CLEA</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.14 - 3:00 오후</span>
								<span class="day">수요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="9">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="9">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Seven</span>
									<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
									<span class="name">BSG</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					</ul>
				</li>
				<li data-week="2018-2-4" class="week_item">
					<a href="#" class="summary">
						<span class="day">2 주차</span>
						<span class="date">2018. 02. 18 - 2018. 02. 24</span>
					</a>
					<ul class="list_schedule_detail">
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.19 - 3:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="10">전장스코어</a>
								<a href="#" class="btn btn_vod" data-video-no="10">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">CRusher</span>
									<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
									<span class="score">0</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
									<span class="name">Meta Athena</span>
									<span class="score">4</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.19 - 3:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="11">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="11">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">EXL-CLEA</span>
									<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
									<span class="score">2</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
									<span class="name">Requiem Six</span>
									<span class="score">3</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.19 - 3:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="12">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="12">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Meta Bellum</span>
									<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
									<span class="name">MVP SPACE</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.20 - 3:00 오후</span>
								<span class="day">화요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="13">전장스코어</a>
								<a href="#" class="btn btn_vod" data-video-no="13">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Seven</span>
									<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
									<span class="name">CRusher</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.20 - 3:00 오후</span>
								<span class="day">화요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="14">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="14">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">EXL-CLEA</span>
									<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
									<span class="score">0</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
									<span class="name">BSG</span>
									<span class="score">4</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.20 - 3:00 오후</span>
								<span class="day">화요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="15">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="15">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">MVP SPACE</span>
									<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
									<span class="name">Meta Athena</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.20 - 3:00 오후</span>
								<span class="day">화요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="16">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="16">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Meta Bellum</span>
									<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
									<span class="name">Requiem Six</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.21 - 3:00 오후</span>
								<span class="day">수요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="17">전장스코어</a>
								<a href="#" class="btn btn_vod" data-video-no="17">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Seven</span>
									<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
									<span class="name">EXL-CLEA</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.21 - 3:00 오후</span>
								<span class="day">수요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="18">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="18">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">MVP SPACE</span>
									<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
									<span class="name">CRusher</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.21 - 3:00 오후</span>
								<span class="day">수요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="19">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="19">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Meta Bellum</span>
									<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
									<span class="name">BSG</span>
									<span class="score">2</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					</ul>
				</li>
				<li data-week="2018-2-5" class="week_item">
					<a href="#" class="summary">
						<span class="day">3 주차</span>
						<span class="date">2018. 02. 25 - 2018. 03. 03</span>
					</a>
					<ul class="list_schedule_detail">
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.26 - 3:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="20">전장스코어</a>
								<a href="#" class="btn btn_vod" data-video-no="20">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Meta Bellum</span>
									<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
									<span class="name">EXL-CLEA</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.26 - 3:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="21">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="21">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Seven</span>
									<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
									<span class="name">MVP SPACE</span>
									<span class="score">2</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.26 - 3:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="22">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="22">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Meta Athena</span>
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
									<span class="name">Requiem Six</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.27 - 3:00 오후</span>
								<span class="day">화요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="23">전장스코어</a>
								<a href="#" class="btn btn_vod" data-video-no="23">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">CRusher</span>
									<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
									<span class="score">2</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
									<span class="name">Requiem Six</span>
									<span class="score">3</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.27 - 3:00 오후</span>
								<span class="day">화요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="24">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="24">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">BSG</span>
									<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
									<span class="name">Meta Athena</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.27 - 3:00 오후</span>
								<span class="day">화요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="25">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="25">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">Seven</span>
									<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
									<span class="score">3</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
									<span class="name">Meta Bellum</span>
									<span class="score">2</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.28 - 3:00 오후</span>
								<span class="day">수요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="26">전장스코어</a>
								<a href="#" class="btn btn_vod" data-video-no="26">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">CRusher</span>
									<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
									<span class="score">0</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
									<span class="name">BSG</span>
									<span class="score">4</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.28 - 3:00 오후</span>
								<span class="day">수요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="27">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="27">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">EXL-CLEA</span>
									<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
									<span class="score">0</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
									<span class="name">Meta Athena</span>
									<span class="score">4</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 02.28 - 3:00 오후</span>
								<span class="day">수요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score" data-match-no="28">전장스코어</a>
								<a href="#" class="btn btn_vod disabled" data-video-no="28">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">MVP SPACE</span>
									<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
									<span class="score">4</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
									<span class="name">Requiem Six</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					</ul>
				</li>
				</ul>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>
<!-- [D] LAYER -->
@@include('./include/layer_score.html')
@@include('./include/layer_media.html')
@@include('./include/layer_team.html')
<!-- [D] LAYER -->
@@include('./include/script.html')
</body>
</html>