@@include('./include/head.html',{"title": "경기현황 : 컨텐더스 트라이얼 : 오버워치 e스포츠", "type" : "04"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="standing">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "03"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "03", "type" : "01"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">경기현황</h3>
				<ul class="list_menu">
				<li class="on"><a href="#">정규시즌</a></li>
				</ul>
			</div>
		</div>
		<div class="standing_wrap">
			<div class="standing_area">
				<div class="group_box_wrap">
					<div class="group_box">
						<h4 class="tit">DIVISION A</h4>
						<ul class="list_standing">
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="8">
								<em class="rank rank1">1</em>
								<img src="../images/trials/trial_seven_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst tit_view">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">Seven</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">30</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">+10</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">6</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">1</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="1">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Requiem Six</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="6">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="9">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">3</em><span class="txt">:</span>1</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BSG</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="13">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">CRUSHER</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="17">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">EXL CLEA</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="21">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">3</em><span class="txt">:</span>2</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP SPACE</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="25">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">3</em><span class="txt">:</span>2</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="6">
								<em class="rank rank_top">2</em>
								<img src="../images/trials/trial_mvp-space_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst tit_view">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">MVP SPACE</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">29</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">+14</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">5</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">2</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="2">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">3</em><span class="txt">:</span>1</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BSG</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="8">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">EXL CLEA</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="12">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">1<span class="txt">:</span><em class="num">3</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="15">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">3</em><span class="txt">:</span>1</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="18">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">CRUSHER</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="21">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">2<span class="txt">:</span><em class="num">3</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="28">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Requiem Six</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="5">
								<em class="rank rank_top">3</em>
								<img src="../images/trials/trial_meta-bellum_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst tit_view">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">Meta Bellum</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">30</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">+13</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">5</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">2</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="3">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">1<span class="txt">:</span><em class="num">2</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="7">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">CRUSHER</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="12">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">3</em><span class="txt">:</span>1</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP SPACE</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="16">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Requiem Six</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="19">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">3</em><span class="txt">:</span>2</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BSG</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="20">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">EXL CLEA</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="25">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">2<span class="txt">:</span><em class="num">3</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="4">
								<em class="rank rank_top">4</em>
								<img src="../images/trials/trial_meta-athena_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst tit_view">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">Meta Athena</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">28</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">+11</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">5</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">2</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="3">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">2</em><span class="txt">:</span>1</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="6">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="10">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">CRUSHER</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="15">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">1<span class="txt">:</span><em class="num">3</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP SPACE</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="22">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Requiem Six</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="24">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BSG</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="27">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">EXL CLEA</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="1">
								<em class="rank">5</em>
								<img src="../images/trials/trial_bsg_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst tit_view">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">BSG</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">29</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">+10</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">4</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">3</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="2">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">1<span class="txt">:</span><em class="num">3</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP SPACE</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="5">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">3</em><span class="txt">:</span>1</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Requiem Six</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="9">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">1<span class="txt">:</span><em class="num">3</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="14">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">EXL CLEA</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="19">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">2<span class="txt">:</span><em class="num">3</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="24">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="26">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">CRUSHER</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="7">
								<em class="rank">6</em>
								<img src="../images/trials/trial_requiem-six_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst tit_view">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">Requiem Six</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">30</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-18</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">2</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">5</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="1">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="5">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">1<span class="txt">:</span><em class="num">3</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BSG</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="11">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">3</em><span class="txt">:</span>2</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">EXL CLEA</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="16">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="22">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="23">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">3</em><span class="txt">:</span>2</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">CRUSHER</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="28">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP SPACE</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="3">
								<em class="rank">7</em>
								<img src="../images/trials/trial_exl-clea_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst tit_view">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">EXL-CLEA</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">29</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-16</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">1</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">6</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="4">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">CRUSHER</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/trials/trial_crusher_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="8">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP SPACE</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="11">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">2<span class="txt">:</span><em class="num">3</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Requiem Six</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="14">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BSG</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="17">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="20">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="27">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="2">
								<em class="rank">8</em>
								<img src="../images/trials/trial_crusher_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst tit_view">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">CRUSHER</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">29</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-24</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">0</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">7</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="4">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">EXL CLEA</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/trials/trial_exl-clea_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="7">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/trials/trial_meta-bellum_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="10">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/trials/trial_meta-athena_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="13">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/trials/trial_seven_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="18">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP SPACE</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/trials/trial_mvp-space_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="23">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">2<span class="txt">:</span><em class="num">3</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Requiem Six</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/trials/trial_requiem-six_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item" data-match-no="26">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score">0<span class="txt">:</span><em class="num">4</em></dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BSG</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/trials/trial_bsg_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						</ul>
					</div>
				</div>
				<span class="line"><em>컨텐더스 진출</em></span>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>
<!-- [D] LAYER -->
@@include('./include/layer_score.html')
@@include('./include/layer_team.html')
@@include('./include/layer_media.html')
<!-- [D] LAYER -->
@@include('./include/script.html')
<script>
</script>
</body>
</html>