@@include('./include/head.html',{"title": "대회 소개문 : 컨텐더스 : 오버워치 e스포츠", "type" : "02"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="introduce_league">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "01", "type" : "06"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">대회 소개문</h3>
			</div>
		</div>
		<div class="intro_wrap a_type">
			<div class="section">
				<div class="area">
					<div class="intro_img">
						<img src="../images/intro_contenders.png" alt="">
					</div>
					<div class="cont">
						<strong class="tit">오버워치 컨텐더스 코리아에 오신 것을<br>환영합니다.</strong>
						<p class="intro_dsc1">대한민국 최고의 오버워치 팀들이 격돌하는 꿈의 무대 오버워치 컨텐더스 코리아.<br>12개 팀이 2개의 디비전으로 나뉘어 치열한 경합을 벌이고, 8강 플레이오프를 거쳐 파이널<br>무대를 통해 시즌 별 챔피언을 가리게 됩니다.<br>매년 3번의 시즌으로 나뉘어 진행되며, 시즌 상위 8개팀은 다음 시즌 참여의 기회를<br>부여받게 됩니다.<br>시드권을 받은 8개팀과 컨텐더스 트라이얼 코리아의 상위 4팀, 총 12개의 팀이 다음 시즌<br>컨텐더스 코리아 출전권을 획득합니다.</p>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="area">
					<div class="intro_img">
							<img src="../images/intro_contenders2.png" alt="">
						</div>
					<div class="cont">
						<strong class="tit">대회 일정</strong>
						<strong class="s_tit2">오버워치 컨텐더스 코리아 시즌 1</strong>
						<ul class="match_lst">
							<li class="match_item">
								<em class="match_title">기간</em>
								<span class="match_date">2018년 3월 19일 – 5월 5일</span>
							</li>
							<li class="match_item">
								<em class="match_title">일시</em>
								<span class="match_date">매주 월화수 저녁 7시</span>
							</li>
							<li class="match_item">
								<em class="match_title">장소</em>
								<span class="match_date">올림픽 공원 K아트홀</span>
							</li>
							<li class="match_item">
								<em class="match_title">참가팀 수</em>
								<span class="match_date">12팀</span>
							</li>
							<li class="match_item">
								<em class="match_title">경기방식</em>
								<span class="match_date">디비전 풀리그 + 싱글 엘리미네이션 플레이오프</span>
							</li>
							<li class="match_item">
								<em class="match_title">상금</em>
								<span class="match_date">2억 원</span>
							</li>
							<li class="match_item">
								<em class="match_title">중계</em>
								<span class="match_date">MBC 스포츠 플러스2 (TV), 트위치 (디지털)</span>
								<ul class="social">
									<li><a href="https://www.facebook.com/owcontenderskr/" class="facebook" target="_blank"><span class="blind">페이스북</span></a></li>
									<li><a href="https://www.twitch.tv/playoverwatch_kr" class="twitch" target="_blank"><span class="blind">트위치</span></a></li>
								</ul>
							</li>
						</ul>
						<ul class="match_lst">
							<li class="match_item">
								<em class="match_title">디비전 풀 리그전</em>
								<span class="match_date">2018년 3월 19일 – 4월 18일 매주 월화수 저녁 7시</span>
								<p class="match_dsc">컨텐더스에 출전하는 12개의 팀은 전 시즌 성적에 따라 2개의 디비전으로 나뉘고,<br>각 디비전으로 나뉜 6개의 팀은 풀리그를 진행합니다.<br>각 디비전 상위 4개팀은 8강 플레이오프에 진출하게 됩니다.</p>
							</li>
							<li class="match_item">
								<em class="match_title">플레이오프</em>
								<span class="match_date">2018년 4월 22일 - 4월 25일 오후 7시</span>
								<p class="match_dsc">8강부터 4강까지는 싱글 엘리미네이션 방식으로 치러집니다.</p>
							</li>
							<li class="match_item">
								<em class="match_title">결승</em>
								<span class="match_date">2018년 5월 5일</span>
								<p class="match_dsc">시즌1의 결승전은 K아트홀이 아닌 더 큰 무대에서 많은 팬분들을 모시고 진행할<br>예정입니다.<br>추후 공지드릴 예정입니다.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="area">
					<div class="intro_img">
						<img src="../images/intro_contenders3.png" alt="">
					</div>
				</div>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
@@include('./include/layer_team.html')
<!-- [D] LAYER -->

@@include('./include/script.html')
<script></script>
</body>
</html>