@@include('./include/head.html',{"title": "뉴스 : 컨텐더스 : 오버워치 e스포츠", "type" : "02"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="news">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "01", "type" : "05"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">뉴스</h3>
			</div>
		</div>
		<div class="news_wrap">
			<div class="news_area">
				<h3 class="s_tit">최근뉴스</h3>
				<ul class="list_news">
				<li>
					<a href="#" class="news_item">
						<em class="label news">뉴스</em>
						<span class="thumb"><img src="../images/news/thumbnail_img_1.jpg" alt="이미지"></span>
						<div class="cont">
							<strong class="tit">오버워치 컨텐더스 코리아, 3월 19일 개막! Runaway 티켓 3분 만에 매진</strong>
							<p class="desc">블리자드 엔터테인먼트의 팀 기반 슈팅 게임 오버워치의 e스포츠 지역별 상위 대회인 '오버워치 컨텐더스 코리아'의 첫 번째 시즌이 19일 BlossoM과 Meta Athena의 첫 경기를 시작으로 본선 경쟁의 막을 올린다.</p>
							<ul class="info">
								<li class="sort">컨텐더스</li>
								<li class="time">2018.03.16</li>
							</ul>
						</div>
					</a>
				</li>	
				<li>
					<a href="#" class="news_item">
						<em class="label news">뉴스</em>
						<span class="thumb"><img src="../images/thumb/2018_contenders_news1.jpg" alt="이미지"></span>
						<div class="cont">
							<strong class="tit">오버워치 컨텐더스 코리아 쇼케이스 뜨거운 환호 속 종료</strong>
							<p class="desc">대한민국 최고 오버워치 영웅, 드디어 팬들을 만나다! ‘오버워치 컨텐더스 코리아 쇼케이스’ 뜨거운 환호 속 종료</p>
							<ul class="info">
								<li class="sort">컨텐더스</li>
								<li class="time">2018.03.12</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="news_item">
						<em class="label news">뉴스</em>
						<span class="thumb"><img src="../images/thumb/2018_contenders_news2.png" alt="이미지"></span>
						<div class="cont">
							<strong class="tit">오버워치 컨텐더스 소개자료</strong>
							<p class="desc">오버워치 컨텐더스(Overwatch® Contenders)는 오버워치(Overwatch®)로 진행되는 지역별 최상위 e스포츠 대회로서, 아마추어부터 프로까지 모든 레벨의 플레이어들이 경쟁하고 협력하면서 성장할 수 있는 오버워치 e스포츠 생태계의 중요한 축을 구성한다.</p>
							<ul class="info">
								<li class="sort">컨텐더스</li>
								<li class="time">2018.03.12</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="news_item">
						<em class="label news">뉴스</em>
						<span class="thumb"><img src="../images/news/thumb_contenders2.jpg" alt="이미지"></span>
						<div class="cont">
							<strong class="tit">국내 최고의 팀을 가릴 '오버워치 컨텐더스 코리아', 12일부터 티켓 판매</strong>
							<p class="desc">블리자드 엔터테인먼트는 오버워치의 e스포츠 대회인 ‘오버워치 컨텐더스 코리아’ 시즌1의 현장 관람 티켓 판매가 3월 12일(월) 오후 6시부터 진행된다고 밝혔다.</p>
							<ul class="info">
								<li class="sort">컨텐더스</li>
								<li class="time">2018.03.09</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="news_item">
						<em class="label news">뉴스</em>
						<span class="thumb"><img src="../images/news/thumb_contenders1.jpg" alt="이미지"></span>
						<div class="cont">
							<strong class="tit">국내 최정상 오버워치팀을 가린다!</strong>
							<p class="desc">2018 오버워치 컨텐더스 코리아, 3월 19일 화려한 개막... MBC스포츠플러스2 생중계</p>
							<ul class="info">
								<li class="sort">컨텐더스</li>
								<li class="time">2018.03.06</li>
							</ul>
						</div>
					</a>
				</li>
				</ul>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

@@include('./include/script.html')
<script>
</script>
</body>
</html>