@@include('./include/head.html',{"title": "경기현황 : 컨텐더스 : 오버워치 e스포츠", "type" : "02"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="standing">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "02"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "01", "type" : "01"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">경기현황</h3>
				<ul class="list_menu">
				<li class="on"><a href="#">정규시즌</a></li>
				<li><a href="javascript:void(0);" class="disabled">플레이오프</a></li>
				</ul>
			</div>
		</div>
		<div class="standing_wrap">
			<div class="standing_area">
				<div class="group_box_wrap">
					<div class="group_box">
						<h4 class="tit">DIVISION A</h4>
						<ul class="list_standing">
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="1">
								<em class="rank rank1">1</em>
								<img src="../images/contenders/contenders_blossom_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst tit_view">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">BlossoM</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">3</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">+2</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">1</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">0</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="1">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">3</em><span class="txt">:</span>1</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="12"><img src="../images/contenders/contenders_Meta-Athena_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.26 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="11"><img src="../images/contenders/contenders_Meta-Bellum_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.02 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">X6 Gaming</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/contenders/contenders_X6-Gaming_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.09 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Element Mystic</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/contenders/contenders_element-mystic_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.16 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Kongdoo Panthera</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/contenders/contenders_kongdoo-panthera_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="12">
								<em class="rank rank_top">2</em>
								<img src="../images/contenders/contenders_Meta-Athena_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">Meta Athena</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">1</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-2</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">0</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">1</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="1-2">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record lose">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">1</em><span class="txt">:</span>3</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BlossoM</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/contenders/contenders_blossom_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.27 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">X6 Gaming</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/contenders/contenders_X6-Gaming_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.04 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Kongdoo Panthera</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/contenders/contenders_kongdoo-panthera_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.11 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="11"><img src="../images/contenders/contenders_Meta-Bellum_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.17 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Element Mystic</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/contenders/contenders_element-mystic_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="3">
								<em class="rank">-</em>
								<img src="../images/contenders/contenders_kongdoo-panthera_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">Kongdoo Panthera</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">-</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">0</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">0</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.20 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="11"><img src="../images/contenders/contenders_Meta-Bellum_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.28 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Element Mystic</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/contenders/contenders_element-mystic_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.04 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="12"><img src="../images/contenders/contenders_Meta-Athena_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.10 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">X6 Gaming</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/contenders/contenders_X6-Gaming_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.16 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BlossoM</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/contenders/contenders_blossom_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>

						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="11">
								<em class="rank">-</em>
								<img src="../images/contenders/contenders_Meta-Bellum_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">Meta Bellum</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">-</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">0</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">0</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.20 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Kongdoo Panthera</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/contenders/contenders_kongdoo-panthera_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.26 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BlossoM</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/contenders/contenders_blossom_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.03 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Element Mystic</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/contenders/contenders_element-mystic_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.11 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="12"><img src="../images/contenders/contenders_Meta-Athena_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.18 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">X6 Gaming</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/contenders/contenders_X6-Gaming_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="5">
								<em class="rank">-</em>
								<img src="../images/contenders/contenders_element-mystic_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">Element Mystic</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">-</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">0</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">0</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.21 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">X6 Gaming</em>
											<a href="#" class="team_logo" data-team-no="7"><img src="../images/contenders/contenders_X6-Gaming_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.28 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Kongdoo Panthera</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/contenders/contenders_kongdoo-panthera_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.03 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="11"><img src="../images/contenders/contenders_Meta-Bellum_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.09 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BlossoM</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/contenders/contenders_blossom_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.17 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="12"><img src="../images/contenders/contenders_Meta-Athena_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="7">
								<em class="rank">-</em>
								<img src="../images/contenders/contenders_X6-Gaming_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">X6 Gaming</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">-</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">0</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">0</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.21 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Element Mystic</em>
											<a href="#" class="team_logo" data-team-no="5"><img src="../images/contenders/contenders_element-mystic_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.27 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Athena</em>
											<a href="#" class="team_logo" data-team-no="12"><img src="../images/contenders/contenders_Meta-Athena_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.02 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">BlossoM</em>
											<a href="#" class="team_logo" data-team-no="1"><img src="../images/contenders/contenders_blossom_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.10 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Kongdoo Panthera</em>
											<a href="#" class="team_logo" data-team-no="3"><img src="../images/contenders/contenders_kongdoo-panthera_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.18 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Meta Bellum</em>
											<a href="#" class="team_logo" data-team-no="11"><img src="../images/contenders/contenders_Meta-Bellum_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						</ul>
					</div>
					<div class="group_box">
						<h4 class="tit">DIVISION B</h4>
						<ul class="list_standing">
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="2">
								<em class="rank rank1">1</em>
								<img src="../images/contenders/contenders_Runaway_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst tit_view">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">Runaway</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">4</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">+4</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">1</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">0</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="2">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record win">WIN</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">4</em><span class="txt">:</span>0</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP Space</em>
											<a href="#" class="team_logo" data-team-no="10"><img src="../images/contenders/contenders_mvp-space_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.26 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="9"><img src="../images/contenders/contenders_seven_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.02 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">O2 Ardeont</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/contenders/contenders_o2-ardeont_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.09 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">WGS</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/contenders/contenders_WGS_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.16 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Foxes</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/contenders/contenders_foxes_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="10">
								<em class="rank rank_top">2</em>
								<img src="../images/contenders/contenders_mvp-space_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">MVP Space</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">0</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-4</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">0</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">1</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item" data-match-no="2">
									<dl class="item_w1">
										<dt class="blind">승패</dt>
										<dd class="record">LOSE</dd>
									</dl>
									<dl class="item_w2">
										<dt class="blind">점수</dt>
										<dd class="score"><em class="num">0</em><span class="txt">:</span>4</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Runaway</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/contenders/contenders_Runaway_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.27 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">O2 Ardeont</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/contenders/contenders_o2-ardeont_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.04 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Foxes</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/contenders/contenders_foxes_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.11 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="9"><img src="../images/contenders/contenders_seven_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.17 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">WGS</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/contenders/contenders_WGS_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="4">
								<em class="rank">-</em>
								<img src="../images/contenders/contenders_foxes_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">Foxes</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">-</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">0</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">0</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.20 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="9"><img src="../images/contenders/contenders_seven_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.28 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">WGS</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/contenders/contenders_WGS_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.04 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP Space</em>
											<a href="#" class="team_logo" data-team-no="10"><img src="../images/contenders/contenders_mvp-space_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.10 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">O2 Ardeont</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/contenders/contenders_o2-ardeont_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.16 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Runaway</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/contenders/contenders_Runaway_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="9">
								<em class="rank">-</em>
								<img src="../images/contenders/contenders_seven_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">Seven</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">-</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">0</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">0</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.20 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Foxes</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/contenders/contenders_foxes_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.26 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Runaway</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/contenders/contenders_Runaway_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.03 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">WGS</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/contenders/contenders_WGS_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.11 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP Space</em>
											<a href="#" class="team_logo" data-team-no="10"><img src="../images/contenders/contenders_mvp-space_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.18 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">O2 Ardeont</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/contenders/contenders_o2-ardeont_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="6">
								<em class="rank">-</em>
								<img src="../images/contenders/contenders_WGS_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">WGS</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">-</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">0</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">0</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.21 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">O2 Ardeont</em>
											<a href="#" class="team_logo" data-team-no="8"><img src="../images/contenders/contenders_o2-ardeont_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.28 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Foxes</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/contenders/contenders_foxes_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.03 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="9"><img src="../images/contenders/contenders_seven_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.09 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Runaway</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/contenders/contenders_Runaway_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.17 - 7:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP Space</em>
											<a href="#" class="team_logo" data-team-no="10"><img src="../images/contenders/contenders_mvp-space_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						<li class="standing_item">
							<a href="#none" class="label team_logo" data-team-no="8">
								<em class="rank">-</em>
								<img src="../images/contenders/contenders_o2-ardeont_200.png" alt="">
								<span class="team_link">팀 정보 보기</span>
							</a>
							<div class="current_info">
								<em class="blind">현재 승률 정보</em>
								<div class="team_lst">
									<dl class="team_item item_w1">
										<dt class="team_tit">팀명</dt>
										<dd class="team">O2 Ardeont</dd>
									</dl>
									<dl class="team_item item_w2">
										<dt class="team_tit">세트</dt>
										<dd class="set">-</dd>
									</dl>
									<dl class="team_item item_w3">
										<dt class="team_tit">득실</dt>
										<dd class="score">-</dd>
									</dl>
									<dl class="team_item item_w4">
										<dt class="team_tit">승</dt>
										<dd class="win">0</dd>
									</dl>
									<span class="versus">-</span>
									<dl class="team_item item_w5">
										<dt class="team_tit">패</dt>
										<dd class="lose">0</dd>
									</dl>
								</div>
							</div>
							<div class="detail_info">
								<button type="button" class="btn_view"><span>전적보기</span></button>
								<ul class="detail_lst">
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.21 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">WGS</em>
											<a href="#" class="team_logo" data-team-no="6"><img src="../images/contenders/contenders_WGS_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 03.27 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">MVP Space</em>
											<a href="#" class="team_logo" data-team-no="10"><img src="../images/contenders/contenders_mvp-space_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.02 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Runaway</em>
											<a href="#" class="team_logo" data-team-no="2"><img src="../images/contenders/contenders_Runaway_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.10 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Foxes</em>
											<a href="#" class="team_logo" data-team-no="4"><img src="../images/contenders/contenders_foxes_200.png" alt=""></a>
										</dd>
									</dl>
								</li>
								<li class="detail_item">
									<dl class="item_w3">
										<dt class="blind">경기 일정</dt>
										<dd class="match_date">2018. 04.18 - 9:00 오후</dd>
									</dl>
									<dl class="item_right">
										<dt class="blind">팀명</dt>
										<dd class="team_tit">
											<em class="team">Seven</em>
											<a href="#" class="team_logo" data-team-no="9"><img src="../images/contenders/contenders_seven_58.png" alt=""></a>
										</dd>
									</dl>
								</li>
								</ul>
							</div>
						</li>
						</ul>
					</div>
				</div>
				<span class="line"><em>플레이오프 진출</em></span>
			</div>
		</div>

		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
@@include('./include/layer_team.html')
@@include('./include/layer_score.html')
@@include('./include/layer_media.html')
<!-- [D] LAYER -->

@@include('./include/script.html')
<script>
</script>
</body>
</html>