@@include('./include/head.html',{"title": "커밍순 :  커밍순 : 오버워치 e스포츠", "type" : "04"})
<body>
@@include('./include/skipnavigation.html')
@@include('./include/banner3.html')
<div id="wrap" class="sub_main"><!--서브 메인-->
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "03"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content" style="background-color:#fff">
		@@include('./include/top_content.html')
		<div class="coming_soon">
			<div class="inner">
				<img src="../images/bg_overwatch2.png" alt="">
				<p class="tit">시즌 정보가 곧 업데이트 됩니다</p>
				<p class="sub">자세한 대회 정보는 추후 공지 될 예정입니다</p>
			</div>
		</div>
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
<div class="layer"></div>
<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>