@@include('./include/head.html',{"title": "대회 소개문 : 대회 소개문 : 오버워치 e스포츠", "type" : "03"})
<body>
@@include('./include/skipnavigation.html')
@@include('./include/banner3.html')
<div id="wrap" class="introduce_league">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "02"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "02", "type" : "06"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">대회 소개문</h3>
			</div>
		</div>
		<div class="intro_wrap a_type">
			<div class="section">
				<div class="area">
					<div class="intro_img">
						<img src="../images/@intro_img1.jpg" alt="">
					</div>
					<div class="cont">
						<strong class="tit">오버워치 오픈 디비전에 오신 것을 환영합니다.</strong>
						<p class="intro_dsc1">오버워치 오픈디비전은 블리자드 엔터테인먼트의 오버워치에서 스타 선수가 되기 위한<br>첫 여정입니다. 프로 선수가 되고 싶은 유저들이 팀으로 모여 그 능력을 시험해 볼 수 있는<br>공간으로, 프로가 되기 위한 길로 향하는 첫 번째 관문입니다.</p>
						<strong class="s_tit1">참가방법</strong>
						<p class="intro_dsc2"><a href="http://overwatch-opendivision.kr/" class="link" target="_blank">http://overwatch-opendivision.kr/</a> 및 <a href="http://arena.wara.gg/" class="link" target="_blank">http://arena.wara.gg/</a><br>를 통하여 대회를 진행함에 결격 사유가 없는 플레이어들은 자유롭게 신청이 가능합니다.</p>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="area">
					<div class="intro_img">
							<img src="../images/@intro_img2.jpg" alt="">
						</div>
					<div class="cont">
						<strong class="tit">대회 일정</strong>
						<strong class="s_tit2">예선전</strong>
						<ul class="match_lst">
							<li class="match_item">
								<em class="match_title">1차 풀 리그전</em>
								<span class="match_date">2018년 1월 13일(토), 14일(일) 오후 4시</span>
								<p class="match_dsc">모집된 1589팀을 대상으로 1개의 그룹 당 8팀씩 임의로 배분하여 경기를 진행합니다.<br>총 199개의 그룹이 생성되며, 해당 그룹에서 1위 팀만 2차 토너먼트에 진출하게 됩니다.</p>
							</li>
							<li class="match_item">
								<em class="match_title">순위 결정전</em>
								<span class="match_date">2018년 1월 20일(토) 오후 4시</span>
								<p class="match_dsc">1차 풀 리그전에서 1위가 결정되지 않을 경우, 3판 2선승의 순위 결정전을 통하여<br>2차 토너먼트 진출 팀을 정합니다.</p>
							</li>
							<li class="match_item">
								<em class="match_title">2차 토너먼트</em>
								<span class="match_date">2018년 1월 21일(일) 오후 4시</span>
								<p class="match_dsc">1차 풀 리그전을 통과한 199팀을 대상으로 하여 16개의 그룹으로 임의 배분 하여 3판 2선승<br>토너먼트로 진행합니다. 2차 토너먼트에서 최종 승리한 팀은 본선 16강에 진출합니다.</p>
							</li>
						</ul>
						<strong class="s_tit2">본선</strong>
						<ul class="match_lst">
							<li class="match_item">
								<em class="match_title">16강/8강</em>
								<span class="match_date">2018년 1월 28일(일) 오후 12시</span>
								<p class="match_dsc">사전에 지정된 PC방에서 모여 오프라인 토너먼트를 진행합니다. 각 경기는 5판 3선승 토너먼트로 진행됩니다. </p>
							</li>
							<li class="match_item">
								<em class="match_title">4강</em>
								<span class="match_date">2018년 2월 3일(토) 오후 4시</span>
								<p class="match_dsc">사전에 지정된 PC방에서 모여 오프라인 토너먼트를 진행합니다. 각 경기는 5판 3선승 토너먼트로 진행됩니다.</p>
							</li>
							<li class="match_item">
								<em class="match_title">3,4위전 및 결승</em>
								<span class="match_date">2018년 2월 4일(일) 오후 2시 (방송 경기)</span>
								<p class="match_dsc">지정된 PC방에서 모여 오프라인 토너먼트를 진행합니다. 트위치의 방송 경기로<br>3,4위전은 5판 3선승 토너먼트, 결승전은 7판 4선승 토너먼트로 진행됩니다.</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="section">
				<div class="area">
					<div class="intro_img">
							<img src="../images/@intro_img3.jpg" alt="">
						</div>
					<div class="cont">
						<strong class="tit">상금</strong>
						<ul class="prize_lst">
							<li class="prize_item rank1">
								<em class="prize_title">1등</em><span class="prize_dsc">5,000,000원</span>
							</li>
							<li class="prize_item">
								<em class="prize_title">2등</em><span class="prize_dsc">3,000,000원</span>
							</li>
							<li class="prize_item">
								<em class="prize_title">3~4등</em><span class="prize_dsc">1,000,000원</span>
							</li>
							<li class="prize_item">
								<em class="prize_title">5~8등</em><span class="prize_dsc">500,000원</span>
							</li>
							<li class="prize_item">
								<em class="prize_title">트라이얼 진출권</em><span class="prize_dsc">오버워치 컨텐더스 트라이얼 진출권 1위, 2위, 3위 (3장)</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
@@include('./include/layer_team.html')
<!-- [D] LAYER -->

@@include('./include/script.html')
<script></script>
</body>
</html>