@@include('./include/head.html',{"title": "레이아웃 : 레이아웃 : 오버워치 e스포츠", "type" : "01"})
<body>
@@include('./include/skipnavigation.html')
<div class="common_banner">
	<div class="inner">
		<h3 class="match_title">16강 B그룹 4경기</h3>
		<button type="button" class="live">LIVE</button>
		<div class="team_item_bx">
			<em class="blind">경기 진행 팀명</em>
			<div class="team_item">
				<strong class="team team1">KONGDOO PANTHERA</strong>
				<img src="../images/team/@team_logo_sm.png" class="team_logo" alt="">
			</div>
			<span class="txt">VS</span>
			<div class="team_item">
				<img src="../images/team/@team_logo_sm2.png" class="team_logo" alt="">
				<strong class="team team2">MISFITS</strong>
			</div>
		</div>
	</div>
	<button type="button" class="close">닫기</button>
</div>
<div id="wrap">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "01"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		<br><br><br><br><br><br><br><br><br><br>Main Contents<br><br><br><br><br><br><br><br><br><br><br><br><br>
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
<div class="layer_wrap"></div>
<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>