@@include('./include/head.html',{"title": "레이어 팝업 : 영상 팝업 : 오버워치 e스포츠", "type" : "01"})
<body>
@@include('./include/skipnavigation.html')
<div id="wrap" class="main">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "01"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">

	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
@@include('./include/layer_score.html')
@@include('./include/layer_team.html')
@@include('./include/layer_media.html')
<!-- [D] LAYER -->

@@include('./include/script.html')
<script>
$(function () {
	$('.btn_play').trigger('click');
});
</script>
</body>
</html>