@@include('./include/head.html',{"title": "메인 : 전체메인 : 오버워치 e스포츠", "type" : "01"})
<body>
@@include('./include/skipnavigation.html')
@@include('./include/banner3.html')
<div id="wrap" class="main"><!--사이트 메인-->
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "03"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		<div class="visual_area">
			<!-- Main Visual -->
			<h2 class="blind">Main Visual 영역</h2>
			<div class="slide_container swiper-container">
				<div class="slide_wrap swiper-wrapper">
					<div class="slide swiper-slide">
						<div class="text_area">
							<div class="in">
								<p class="tit">오버워치 컨텐더스 티켓예매</p>
								<p class="sub">3월9일 오후 6시 예매시작</p>
								<a href="#" class="btn_view">예매하러 가기</a>
							</div>
						</div>
						<img src="../images/key_visual1.jpg" alt="">
					</div>
					<div class="slide swiper-slide">
						<div class="text_area">
							<div class="in">
								<p class="tit">메인 텍스트<br>2줄까지</p>
								<p class="sub">서브 텍스트 한줄까지</p>
							</div>
						</div>
						<img src="../images/@key_visual2.jpg" alt="">
					</div>
					<div class="slide swiper-slide">
						<div class="text_area">
							<div class="in">
								<p class="tit">오버워치 컨텐더스<br>1단계 티켓 판매 중</p>
								<p class="sub">오버워치 리그의 열정을 직접 체험하세요! </p>
							</div>
						</div>
						<img src="../images/@key_visual3.jpg" alt="">
					</div>
				</div>
				<div class="top_control">
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
					<div class="btn_area">
						<button type="button" class="btn_play">재생</button>
						<button type="button" class="btn_pause">정지</button>
					</div>
				</div>
				<!-- Add Arrows -->
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
			</div>
			<!-- //Main Visual -->
		</div>
		<hr>
		<div class="main_matchup">
			<!-- 대회 타이틀 -->
			<a href="#" class="title_area">
				<div href="#" class="title_in">
					<span class="logo"><img src="../images/logo/logo_contenders.png" alt=""></span>
					<h2 class="h_tit">오버워치 컨텐더스</h2>
					<span class="state">정규시즌</span><!--[D] .end 시즌종료-->
					<span class="date">2018. 03. 19 – 2018. 05. 05</span>
				</div>
			</a>
			<!-- <div class="view_bx">
				<a href="#" class="btn_view">자세히 보기</a>
				<span class="update">update: 2018. 03. 02 12:15:30</span>
			</div> -->
			<!-- //대회 타이틀 -->
			<div class="inner">
				<!-- 최근 경기결과 -->
				<div class="recently_result">
					<h3 class="h_tit">최근 경기결과</h3>
					<div class="slide_wrap">
						<a href="#" class="slide">
							<div class="versus_board">
								<div class="txt_bx">
									<span class="match_title">본선<br>A그룹 16강</span>
									<span class="match_date">2018.03.01</span>
								</div>
								<div class="team_bx team_bx1 lose">
									<span class="state"></span>
									<span class="team team1">MISFITS</span>
									<span class="score score1">1</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big.png" alt=""></span>
								</div>
								<div class="team_bx team_bx2 win">
									<span class="state"></span>
									<span class="team team2">팀명이 2줄이라면 2줄로 보이지요</span>
									<span class="score score2">2</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big2.png" alt=""></span>
								</div>
							</div>
							<button type="button" class="btn_view" tabindex="0">전적보기</button>
							<div class="match_detail">
								<div class="score_wrap">
									<ul class="score_list">
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1">0</div>
											<div class="field">
												<div class="field_in">네팔</div>
											</div>
											<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1 win">2</div>
											<div class="field">
												<div class="field_in">할리우드</div>
											</div>
											<div class="score score2">1</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1">0</div>
											<div class="field">
												<div class="field_in">아누비스 신전</div>
											</div>
											<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1">0</div>
											<div class="field tie"><!--[D] 승자 결정전 셋트일 경우 .tie 추가-->
												<div class="field_in">도라도</div>
											</div>
											<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									</ul>
								</div>
							</div>
						</a>
						<a href="#" class="slide">
							<div class="versus_board">
								<div class="txt_bx">
									<span class="match_title">본선<br>B그룹 16강</span>
									<span class="match_date">2018.03.01</span>
								</div>
								<div class="team_bx team_bx1">
									<span class="state"></span>
									<span class="team team1">MISFITS</span>
									<span class="score score1">1</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big3.png" alt=""></span>
								</div>
								<div class="team_bx team_bx2">
									<span class="state"></span>
									<span class="team team2">BK STARTSBK STARTSBK STARTS</span>
									<span class="score score2">1</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big4.png" alt=""></span>
								</div>
							</div>
							<button type="button" class="btn_view" tabindex="0">전적보기</button>
							<div class="match_detail">
								<div class="score_wrap">
									<ul class="score_list">
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1">0</div>
											<div class="field">
												<div class="field_in">네팔</div>
											</div>
											<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1 win">2</div>
											<div class="field">
												<div class="field_in">할리우드</div>
											</div>
											<div class="score score2">1</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1">0</div>
											<div class="field">
												<div class="field_in">아누비스 신전</div>
											</div>
											<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1">0</div>
											<div class="field tie"><!--[D] 승자 결정전 셋트일 경우 .tie 추가-->
												<div class="field_in">도라도</div>
											</div>
											<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									</ul>
								</div>
							</div>
						</a>
						<a href="#" class="slide">
							<div class="versus_board">
								<div class="txt_bx">
									<span class="match_title">본선<br>C그룹 16강</span>
									<span class="match_date">2018.03.01</span>
								</div>
								<div class="team_bx team_bx1 win">
									<span class="state"></span>
									<span class="team team1">MISFITS</span>
									<span class="score score1">3</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big5.png" alt=""></span>
								</div>
								<div class="team_bx team_bx2 lose">
									<span class="state"></span>
									<span class="team team2">BK STARTSBK STARTSBK STARTS</span>
									<span class="score score2">1</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big6.png" alt=""></span>
								</div>
							</div>
							<button type="button" class="btn_view" tabindex="0">전적보기</button>
							<div class="match_detail">
								<div class="score_wrap">
									<ul class="score_list">
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1">0</div>
											<div class="field">
												<div class="field_in">네팔</div>
											</div>
											<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1 win">2</div>
											<div class="field">
												<div class="field_in">할리우드</div>
											</div>
											<div class="score score2">1</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1">0</div>
											<div class="field">
												<div class="field_in">아누비스 신전</div>
											</div>
											<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									<li class="score_item">
										<div class="score_cont">
											<div class="score score1">0</div>
											<div class="field tie"><!--[D] 승자 결정전 셋트일 경우 .tie 추가-->
												<div class="field_in">도라도</div>
											</div>
											<div class="score score2 win">2</div><!--[D] 승자 .win 추가-->
										</div>
									</li>
									</ul>
								</div>
							</div>
						</a>
					</div>
				</div>
				<!-- //최근 경기결과 -->
				<!-- 다음 경기 일정 -->
				<div class="next_schedule">
					<h3 class="h_tit">다음 경기 일정</h3>
					<div class="slide_wrap">
						<div class="slide">
							<div class="slide_cont">
								<div class="match_date">
									<p><span>2018.03.01</span></p>
									<p><span>1:00 오후</span></p>
								</div>
								<div class="team_bx team_bx1">
									<span class="team team1">팀명이 2줄이라면 팀명이 2줄이라면 팀명이 2줄</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big.png" alt=""></span>
								</div>
								<span class="txt">VS</span>
								<div class="team_bx team_bx2">
									<span class="team team2">RUNWAY</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big2.png" alt=""></span>
								</div>
							</div>
							<div class="slide_cont">
								<div class="match_date">
									<p><span>2018.03.01</span></p>
									<p><span>2:00 오후</span></p>
								</div>
								<div class="team_bx team_bx1">
									<span class="team team1">AFREECA FREECS RED</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big3.png" alt=""></span>
								</div>
								<span class="txt">VS</span>
								<div class="team_bx team_bx2">
									<span class="team team2">RUNWAY</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big4.png" alt=""></span>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="slide_cont">
								<div class="match_date">
									<p><span>2018.03.01</span></p>
									<p><span>3:00 오후</span></p>
								</div>
								<div class="team_bx team_bx1">
									<span class="team team1">AFREECA FREECS RED</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big5.png" alt=""></span>
								</div>
								<span class="txt">VS</span>
								<div class="team_bx team_bx2">
									<span class="team team2">RUNWAY</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big6.png" alt=""></span>
								</div>
							</div>
							<div class="slide_cont">
								<div class="match_date">
									<p><span>2018.03.01</span></p>
									<p><span>4:00 오후</span></p>
								</div>
								<div class="team_bx team_bx1">
									<span class="team team1">AFREECA FREECS RED</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big7.png" alt=""></span>
								</div>
								<span class="txt">VS</span>
								<div class="team_bx team_bx2">
									<span class="team team2">RUNWAY</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big2.png" alt=""></span>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="slide_cont">
								<div class="match_date">
									<p><span>2018.03.01</span></p>
									<p><span>5:00 오후</span></p>
								</div>
								<div class="team_bx team_bx1">
									<span class="team team1">AFREECA FREECS RED</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big3.png" alt=""></span>
								</div>
								<span class="txt">VS</span>
								<div class="team_bx team_bx2">
									<span class="team team2">RUNWAY</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big4.png" alt=""></span>
								</div>
							</div>
							<div class="slide_cont">
								<div class="match_date">
									<p><span>2018.03.01</span></p>
									<p><span>6:00 오후</span></p>
								</div>
								<div class="team_bx team_bx1">
									<span class="team team1">AFREECA FREECS RED</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big5.png" alt=""></span>
								</div>
								<span class="txt">VS</span>
								<div class="team_bx team_bx2">
									<span class="team team2">RUNWAY</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big6.png" alt=""></span>
								</div>
							</div>
						</div>
						<div class="slide">
							<div class="slide_cont">
								<div class="match_date">
									<p><span>2018.03.01</span></p>
									<p><span>7:00 오후</span></p>
								</div>
								<div class="team_bx team_bx1">
									<span class="team team1">콘텐츠가 1개라면??</span>
									<span class="team_logo"><img src="../images/team/@team_logo_big7.png" alt=""></span>
								</div>
								<span class="txt">VS</span>
								<div class="team_bx team_bx2">
									<span class="team team2"><em>준결승 2경기 승리팀</em></span>
									<span class="team_logo"><img src="../images/team/team_default.png" alt=""></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //다음 경기 일정 -->
			</div>
		</div>
		<hr>
		@@include('./include/banner.html')
		<hr>
		<!-- Main Standing -->
		<div class="standing_board">
			<div class="inner">
				<h3 class="h_tit">본선 진행중 (풀리그)</h3>
				<div class="slide_wrap">
					<div class="slide">
						<div class="slide_cont">
							<h4 class="tit">DIVISION A</h4>
							<ol class="list_standing">
							<li class="standing_item rank_top">
								<span class="rank"><em>1</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="team">두줄 두줄 두줄 두줄 두줄 두줄 두줄 두줄 두줄</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>2</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>3</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>4</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>5</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>6</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>7</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>8</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							</ol>
						</div>
						<div class="slide_cont">
							<h4 class="tit">DIVISION B</h4>
							<ol class="list_standing">
							<li class="standing_item rank_top">
								<span class="rank"><em>1</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>2</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>3</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>4</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>5</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>6</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>7</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>8</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							</ol>
						</div>
					</div>
					<div class="slide">
						<div class="slide_cont">
							<h4 class="tit">DIVISION C</h4>
							<ol class="list_standing">
							<li class="standing_item rank_top">
								<span class="rank"><em>1</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>2</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>3</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>4</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>5</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>6</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>7</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>8</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							</ol>
						</div>
						<div class="slide_cont">
							<h4 class="tit">DIVISION D</h4>
							<ol class="list_standing">
							<li class="standing_item rank_top">
								<span class="rank"><em>1</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>2</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>3</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>4</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>5</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>6</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>7</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>8</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							</ol>
						</div>
					</div>
					<div class="slide">
						<div class="slide_cont">
							<h4 class="tit">DIVISION D</h4>
							<ol class="list_standing">
							<li class="standing_item rank_top">
								<span class="rank"><em>1</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>2</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>3</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item rank_top">
								<span class="rank"><em>4</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>5</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>6</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>7</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							<li class="standing_item">
								<span class="rank"><em>8</em>위</span>
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="team">ENVYUS</span>
								<div class="result_bx">
									<span class="result win">5W</span>
									<span class="result lose">1L</span>
								</div>
							</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="standing_board">
			<div class="inner">
				<h3 class="h_tit">16강 진행중 (토너먼트)</h3>
				<div class="slide_wrap">
					<div class="slide">
						<ul class="list_result">
						<li class="result_item">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item">
							<div class="team team1">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">2</span>
							</div>
							<div class="team team2 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">3</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						</ul>
					</div>
					<div class="slide">
						<ul class="list_result">
						<li class="result_item">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="name">두줄 두줄 두줄 두줄 두줄 두줄 두줄 두줄 두줄 두줄 </span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item">
							<div class="team team1">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">2</span>
							</div>
							<div class="team team2 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">3</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						<li class="result_item not_yet">
							<div class="team team1 win">
								<span class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">5</span>
							</div>
							<div class="team team2">
								<span class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></span>
								<span class="name">ENVYUS</span>
								<span class="score">1</span>
							</div>
							<span class="versus"></span>
						</li>
						</ul>
					</div>
				</div>
				<div class="main_bracket">
				</div>
			</div>
		</div>
		<!-- //Main Standing -->
		@@include('./include/banner.html')
		<!-- Main Media -->
		<div class="main_media">
			<div class="inner">
				<h3 class="h_tit">영상 & 뉴스</h3>
				<ul class="media_lst media_cont2">
					<li class="media_item">
						<a href="#" class="news btn_play">
							<span class="thumb"><img src="../images/thumb_default.png" alt="이미지"></span>
							<div class="media_info">
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
							</div>
						</a>
					</li>
				</ul>
				<a href="#" class="btn_more">더보기</a>
			</div>
		</div>
		<!-- //Main Media -->
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->
	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
	<!-- [D] LAYER -->
@@include('./include/layer_media3.html')
	<!-- [D] LAYER -->
</div>
@@include('./include/script.html')
<script>
	$(function () {
		// $('.btn_play').trigger('click');
	});
</script>
</body>
</html>