@@include('./include/head.html',{"title": "영상 : 영상 : 오버워치 e스포츠", "type" : "03"})
<body>
@@include('./include/skipnavigation.html')
@@include('./include/banner3.html')
<div id="wrap" class="media">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "02", "type" : "04"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">영상</h3>
			</div>
		</div>
		<div class="media_wrap">
			<div class="media_area">
				<div class="main_bx media_cont1">
					<a href="#" class="video btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="video btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="video btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="video btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
				</div>
				<div class="sub_bx media_cont1">
					<a href="#" class="video btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="video btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
				</div>
			</div>
			<div class="media_area cont_area">
				<h4 class="s_tit">최근영상</h4>
				<ul class="media_lst media_cont2">
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
					<li class="media_item">
						<a href="#" class="video btn_play">
							<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
							<div class="media_info">
								<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
								<ul class="list">
									<li class="sort">컨텐더스</li>
									<li class="time">4시간전</li>
								</ul>
							</div>
						</a>
					</li>
				</ul>
				<a href="#" class="btn_more">더보기</a>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>
<!-- [D] LAYER -->
@@include('./include/layer_media.html')
<!-- [D] LAYER -->
@@include('./include/script.html')
<script>
$(function () {
	$('.btn_call').on('click', $.proxy(function () {
		window.commonLayer.layerView('#layer_media');
	}, this));
	// $('.btn_play').trigger('click');
	// window.commonLayer.layerView('#layer_media');
	// 	window.commonLayer.layerView('#layer_team');
});
</body>
</html>