@@include('./include/head.html',{"title": "뉴스 : 뉴스 : 오버워치 e스포츠", "type" : "03"})
<body>
@@include('./include/skipnavigation.html')
@@include('./include/banner3.html')
<div id="wrap" class="news">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "02", "type" : "05"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">뉴스</h3>
			</div>
		</div>
		<div class="news_wrap">
			<!-- <div class="media_area">
				<div class="main_bx media_cont1">
					<a href="#" class="news btn_play">
						<span class="thumb"><img src="../images/thumb_default.png" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="noti btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="news btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="news btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
				</div>
				<div class="sub_bx media_cont1">
					<a href="#" class="news btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
					<a href="#" class="noti btn_play">
						<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
						<div class="media_info">
							<ul class="list">
								<li class="sort">컨텐더스</li>
								<li class="time">4시간전</li>
							</ul>
							<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
						</div>
					</a>
				</div>
			</div> -->
			<div class="news_area">
				<h3 class="s_tit">최근뉴스</h3>
				<ul class="list_news">
				<li>
					<a href="#" class="news_item">
						<em class="label noti">공지</em>
						<span class="thumb"><img src="https://bnetcmsus-a.akamaihd.net/cms/page_media/me/ME6W2PRXNUN11516824652504.jpg" alt="이미지"></span>
						<div class="cont">
							<strong class="tit">초반 전략: 도라도의 둠피스트</strong>
							<p class="desc">앞서 살펴봤던 시즌 최고 속도의 대지분쇄, 호라이즌 달 기지의 철벽 수비 그리고 쓰레기촌의 독특한 공격 전략에 이어 새로운 이야기로 초반 전략 시리즈가 돌아왔습니다. 가끔, 최고의 초반 전략은 메시지를 전달하는 것입니다. 상하이 드래곤즈를 상대로 한 시즌 개막전에서 LA 글래디에이터즈의 Joao Pedro “Hydration” Goes Telles 선수가 도라도 방어를 위해 중심 영웅으로 둠피스트를 선택하면서 이러한 메시지 전달의 예를 확실하게 보여줬습니다. 글래디에이터즈는 드래곤즈의 화물차가 별 어려움 없이 첫 번째 길목을 통과하도록 했습니다. 그리고 함정의 문을 닫았습니다. 한번 기울어진 전세가 남은 경기를 지배했고 결국, LA가 4대 0으로 승리했습니다.</p>
							<ul class="info">
								<li class="sort">컨텐더스</li>
								<li class="time">2018.03.05</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="news_item">
						<em class="label noti">공지</em>
						<span class="thumb"><img src="https://cms-origin-cn.battle.net/cms/page_media/nb/NBF7MFDWYAUI1516752326615.jpg" alt="이미지"></span>
						<div class="cont">
							<strong class="tit">초반 전략: 해적선 전략 분석</strong>
							<p class="desc">앞서 초반 전략</p>
							<ul class="info">
								<li class="sort">컨텐더스</li>
								<li class="time">2018.03.05</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="news_item">
						<em class="label news">뉴스</em>
						<span class="thumb"><img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/fl/FLPP7BLENQN51516998987869.jpg" alt="이미지"></span>
						<div class="cont">
							<strong class="tit">로스터 개편</strong>
							<p class="desc">지난 3주 동안, 오버워치 리그의 12개 팀은 승패 뿐 아니라 다른 팀의 동향과 의사결정 등을 분석하고 자신들의 장단점을 파악하기 시작했습니다.</p>
							<ul class="info">
								<li class="sort">컨텐더스</li>
								<li class="time">2018.03.05</li>
							</ul>
						</div>
					</a>
				</li>
				<li>
					<a href="#" class="news_item">
						<em class="label news">공지</em>
						<span class="thumb"><img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/hc/HC6GZ5R1TL961516253906709.jpg" alt="이미지"></span>
						<div class="cont">
							<strong class="tit">오버워치 리그 인증 사진 이벤트에 참여하세요! 오버워치 리그 인증 사진 이벤트에 참여하세요!</strong>
							<p class="desc">최초의 지역 연고제 기반 글로벌 이스포츠 리그인 오버워치 리그의 성공적 출범을 기념하여, 1월 18일(목)부터 2월 11일(일)까지 약 3주간 오버워치 리그 SNS 이벤트가 진행됩니다! 오프닝 위크 나흘 동안  트위치와 MLG, 그리고 중국 내 스트리밍 파트너를 통해 경기를 1천만 명 이상이 시청하는 등 성공적 데뷔 무대를 치룬 오버워치 리그가 푸짐한 경품을 들고 여러분을 찾아왔습니다. 오버워치 커스텀 PC, D.Va 헤드셋, 오버워치 마우스 등 멋진 선물을 받을 수 있는 기회를 놓치지 마세요!</p>
							<ul class="info">
								<li class="sort">컨텐더스</li>
								<li class="time">2018.03.05</li>
							</ul>
						</div>
					</a>
				</li>
				</ul>
				<a href="#" class="btn_more">더보기</a>
			</div>
		</div>
		<!-- 띠배너 -->
		<a href="#" class="banner_wrap2">
			<div class="inner">
				<div class="text_area">
					<p class="tit">오버워치 컨텐더스 플레이오프 티켓 구매하기</p>
					<p class="sub">최고의 선수들이 모인 오버워치 컨텐더스의 뜨거운 열기를 느껴보세요!</p>
				</div>
			</div>
			<img src="../images/@banner3.png" alt="">
		</a>
		<!-- //띠배너 -->
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

@@include('./include/script.html')
<script>
</script>
</body>
</html>