@@include('./include/head.html',{"title": "뉴스상세 : 뉴스/공지 상세 : 오버워치 e스포츠", "type" : "03"})
<body>
@@include('./include/skipnavigation.html')
@@include('./include/banner3.html')
<div id="wrap" class="news_detail">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "02", "type" : "05"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">뉴스</h3>
			</div>
		</div>
		<div class="news_detail_wrap">
			<h4 class="news_tit">오버워치 새해맞이 눈송이 축제 (1/2~2/8)<em class="label">뉴스</em></h4>
			<div class="info_view">
				<ul class="txt_info">
					<li class="sort">컨텐더스</li>
					<li class="time">2018.03.05</li>
				</ul>
				<ul class="social">
				<li><a href="#" class="facebook"><span class="blind">페이스북</span></a></li>
				<li><a href="#" class="twitter"><span class="blind">트위터</span></a></li>
				<li><a href="#" class="copy"><span class="blind">링크복사</span></a></li>
				</ul>
				<a href="#" class="btn_list">목록</a>
			</div>
			<div class="detail_view">
				<span class="thumb">
					<img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/5j/5JVGA87HRJYL1514857558133.jpg" alt="이미지">
				</span>
				<p class="cont">
					아직 <a href="#">이벤트</a>에 참여하시지 못한 분들을 위해서 새해맞이 축제를 연장하기로 했습니다!<br><br>
					1주일 연장된 일정을 확인하시고 원하는 경품에 꼭 응모하세요!<br><br>
					2018년 무술년을 맞이하여 새해맞이 눈송이 축제가 진행됩니다. 1월 2일부터 2월 8일까지 블리자드 가맹 PC방에서 오버워치를 플레이하고 눈송이를 획득해보세요. 모은 눈송이로 오버워치에서 준비한 환상적인 경품에 응모하고 2018년 새해를 힘차게 출발하세요!<br><br>
					* ’오버워치 새해맞이 눈송이 축제’는 PC방에서 블리자드 게임을 즐기며 다양한 선물도 받을 수 있는 프로그램인 ‘블리자드 눈송이 프로그램'의 일환으로 진행되는 행사입니다.<br><br><br><br>
					이벤트 일정 (일정 연장)<br><br>
					눈송이 적립: 2018년 1월 2일(화) 오전 09:00 ~ 2018년 2월 1일(목), 오전 08:59 → 2018년 2월 8일(목), 오전 08:59<br><br>
					눈송이 사용: 2018년 1월 2일(화) 오전 09:00 ~ 2018년 2월 7일(수), 오후 11:59 → 2018년 2월 14일(수), 오후 11:59<br><br><br><br>
					이벤트 참여 방법<br><br>
					이벤트 기간 동안 블리자드 가맹 PC방에서 오버워치를 플레이하고 눈송이를 획득하세요.<br><br>
					이벤트 페이지에서 눈송이를 사용해 원하는 경품에 응모하세요. 응모 즉시 당첨 여부를 확인할 수 있습니다.<br><br>
					이벤트 기간 동안 모은 눈송이만큼 여러 번 반복해서 경품에 응모하실 수 있습니다.
				</p>
			</div>
			<div class="list_view">
				<a href="#" class="btn_list">목록</a>
				<a href="#" class="lst_btn lst_prev">
					<span class="btn btn_prev">이전글</span>
					<em class="tit">2018년 프로가 되는길 세부사항</em>
				</a>
				<a href="#" class="lst_btn lst_next">
					<span class="btn btn_next">다음글</span>
					<em class="tit">미로와 류제홍의 포토 다이어리</em>
				</a>
			</div>
			<div class="media_area">
				<h4 class="s_tit">최근뉴스</h4>
				<ul class="media_lst media_cont2">
					<li class="media_item">
					<a href="#" class="news btn_play">
					<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
					<div class="media_info">
						<ul class="list">
							<li class="sort">컨텐더스</li>
							<li class="time">4시간전</li>
						</ul>
						<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
					</div>
					</a>
					</li>
					<li class="media_item">
					<a href="#" class="news btn_play">
					<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
					<div class="media_info">
						<ul class="list">
							<li class="sort">컨텐더스</li>
							<li class="time">4시간전</li>
						</ul>
						<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
					</div>
					</a>
					</li>
					<li class="media_item">
					<a href="#" class="noti btn_play">
					<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
					<div class="media_info">
						<ul class="list">
							<li class="sort">컨텐더스</li>
							<li class="time">4시간전</li>
						</ul>
						<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
					</div>
					</a>
					</li>
					<li class="media_item">
					<a href="#" class="noti btn_play">
					<span class="thumb"><img src="../images/@main_video.jpg" alt="이미지"></span>
					<div class="media_info">
						<ul class="list">
							<li class="sort">컨텐더스</li>
							<li class="time">4시간전</li>
						</ul>
						<span class="tit">오버워치 월드컵 8강 한국 vs 미국 경기영상</span>
					</div>
					</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 띠배너 -->
		<a href="#" class="banner_wrap2">
			<div class="inner">
				<div class="text_area">
					<p class="tit">오버워치 컨텐더스 플레이오프 티켓 구매하기</p>
					<p class="sub">최고의 선수들이 모인 오버워치 컨텐더스의 뜨거운 열기를 느껴보세요!</p>
				</div>
			</div>
			<img src="../images/@banner3.png" alt="">
		</a>
		<!-- //띠배너 -->
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

@@include('./include/script.html')
<script>
</script>
</body>
</html>