@@include('./include/head.html',{"title": "대회후원 : 후원사 소개 : 오버워치 e스포츠", "type" : "03"})
<body>
@@include('./include/skipnavigation.html')
@@include('./include/banner3.html')
<div id="wrap" class="partners">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "01")
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		<div class="top_content">
			<div class="visual_area">
				<h2 class="tit">대회 후원</h2>
				<img src="../images/key_visual_partners.jpg" alt="">
			</div>
		</div>
		<div class="info_wrap">
			<div class="info_cont">
				<p class="info_dsc">오버워치 이스포츠는 다양한 기업과의<br>파트너십을 환영합니다.</p>
				<em class="info_tit">스폰서쉽 문의</em><a href="mailto:tournament@blizzard.com" class="info_link">TOURNAMENT@BLIZZARD.COM</a>
				<img src="../images/img_partners.jpg" alt="">
			</div>
		</div>
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
@@include('./include/layer_team.html')
<!-- [D] LAYER -->

@@include('./include/script.html')
<script></script>
</body>
</html>