@@include('./include/head.html',{"title": "일정 :  일정 : 오버워치 e스포츠", "type" : "04"})
<body>
@@include('./include/skipnavigation.html')
@@include('./include/banner3.html')
<div id="wrap" class="schedule">
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "04"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content">
		@@include('./include/top_content.html', {"htype" : "02", "type" : "02"})
		<div class="sub_menu">
			<div class="sub_menuin">
				<h3 class="sub_tit">일정</h3>
				<p class="sub_dsc">* 첫 경기 종료시점에 따라 이후 경기 시작시간이 조정될 수 있습니다.</p>
			</div>
		</div>
		<div class="schedule_wrap">
			@@include('./include/schedule_filter.html', {"type" : "01"})
			<div class="schedule_area">
				<ul class="list_schedule">
				<li data-week="2018-2-3" class="week_item">
					<a href="#" class="summary">
						<span class="day">1 주차</span>
						<span class="date">2018. 03. 01 - 2018. 03. 07</span>
					</a>
					<ul class="list_schedule_detail">
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="name">ENVYUS</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">ENVYUS ENVYUS ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">15</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="score">15</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today live"><!--[D] 오늘날짜(today)일 때 .match_today 추가 // 현재 진행중인 경기일때 .live 추가 //  ex) 오늘 현재 경기 : .match_today.live 추가 -->
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
								<a href="https://www.twitch.tv/playoverwatch_kr" class="btn_live" target="_blank">생방송</a>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					</ul>
				</li>
				<li data-week="2018-2-2" class="week_item">
					<a href="#" class="summary">
						<span class="day">2 주차</span>
						<span class="date">2018. 03. 08 - 2018. 03. 14</span>
					</a>
					<ul class="list_schedule_detail">
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="name">ENVYUS</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">ENVYUS ENVYUS ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">15</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="score">15</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today live">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
								<a href="https://www.twitch.tv/playoverwatch_kr" class="btn_live" target="_blank">생방송</a>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					</ul>
				</li>
				<li data-week="2018-2-1" class="week_item">
					<a href="#" class="summary">
						<span class="day">3 주차</span>
						<span class="date">2018. 03. 15 - 2018. 03. 21</span>
					</a>
					<ul class="list_schedule_detail">
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="name">ENVYUS</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">ENVYUS ENVYUS ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">15</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="score">15</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today live">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
								<a href="https://www.twitch.tv/playoverwatch_kr" class="btn_live" target="_blank">생방송</a>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					</ul>
				</li>
				<li data-week="2018-2-4" class="week_item">
					<a href="#" class="summary">
						<span class="day">4 주차</span>
						<span class="date">2018. 03. 22 - 2018. 03. 28</span>
					</a>
					<ul class="list_schedule_detail">
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="name">ENVYUS</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">ENVYUS ENVYUS ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">15</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="score">15</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today live">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
								<a href="https://www.twitch.tv/playoverwatch_kr" class="btn_live" target="_blank">생방송</a>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					</ul>
				</li>
				<li data-week="2018-2-5" class="week_item">
					<a href="#" class="summary">
						<span class="day">5 주차</span>
						<span class="date">2018. 03. 29 - 2018. 04. 04</span>
					</a>
					<ul class="list_schedule_detail">
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="name">ENVYUS</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">ENVYUS ENVYUS ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">15</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="score">15</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today live">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
								<a href="https://www.twitch.tv/playoverwatch_kr" class="btn_live" target="_blank">생방송</a>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					</ul>
				</li>
				<li data-week="2018-3-1" class="week_item">
					<a href="#" class="summary">
						<span class="day">6 주차</span>
						<span class="date">2018. 04. 05 - 2018. 04. 11</span>
					</a>
					<ul class="list_schedule_detail">
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="name">ENVYUS</span>
									<span class="score">1</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1">
									<span class="name">ENVYUS ENVYUS ENVYUS</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="score">5</span>
								</div>
								<div class="team team2 win">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm4.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">15</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score disabled">전장스코어</a>
								<a href="#" class="btn btn_vod disabled">영상보기</a>
							</div>
							<div class="match_up">
								<div class="team team1 win">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
									<span class="score">15</span>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
									<span class="score">0</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today live">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="btn_area">
								<a href="#" class="btn btn_score">전장스코어</a>
								<a href="#" class="btn btn_vod">영상보기</a>
								<a href="https://www.twitch.tv/playoverwatch_kr" class="btn_live" target="_blank">생방송</a>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					<li class="detail_item">
						<div class="match_info">
							<div class="match_date match_today">
								<span class="date">2018. 03.01 - 1:00 오후</span>
								<span class="day">월요일</span>
							</div>
							<div class="match_up not_yet">
								<div class="team team1">
									<span class="name">AFREECA FREECS RED</span>
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm2.png" alt=""></a>
								</div>
								<div class="team team2">
									<a href="#" class="team_logo"><img src="../images/team/@team_logo_sm3.png" alt=""></a>
									<span class="name">ENVYUS ENVYUS</span>
								</div>
								<span class="versus"></span>
							</div>
						</div>
					</li>
					</ul>
				</li>
				</ul>
			</div>
		</div>
		@@include('./include/banner2.html')
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>
<!-- [D] LAYER -->
@@include('./include/layer_score.html')
@@include('./include/layer_media2.html')
@@include('./include/layer_team.html')
<!-- [D] LAYER -->
@@include('./include/script.html')
</body>
</html>