@@include('./include/head.html',{"title": "서브 메인 :  서브 메인 : 오버워치 e스포츠", "type" : "04"})
<body>
@@include('./include/skipnavigation.html')
@@include('./include/banner3.html')
<div id="wrap" class="sub_main"><!--서브 메인-->
	<!--[D] HEADER -->
@@include('./include/header.html',{"common": "02", "nav" : "03"})
	<!--//[D] HEADER -->

	<!-- [D] CONTENTS -->
	<main id="content" style="background-color:#fff">
		@@include('./include/top_content.html')
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br><br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	</main>
	<!-- // [D] CONTENTS -->

	<!--[D] FOOTER -->
@@include('./include/footer.html',{"type": "01"})
	<!--// [D] FOOTER -->
</div>

<!-- [D] LAYER -->
<div class="layer"></div>
<!-- [D] LAYER -->

@@include('./include/script.html')
</body>
</html>