// Color
$color-black: #000;
$color-black2: #222;
$color-white: #fff;
$color-point: #0050ff;

// Responsive Points
$desktop-l-width : 1920px;
$desktop-l2-width : 1800px;
$desktop-m-width : 1440px;
$desktop-s-width : 1280px;
$tablet-l-width : 1024px;
$tablet-m-width : 960px;
$mobile-l-width : 720px;
$mobile-m-width : 425px;
$mobile-s-width : 360px;

// Sprite Img Url
$pc-sp-url : url(../images/sp.png) no-repeat;
$mobile-sp-url : url(../images/sp_m.png) no-repeat;

$desktop-max-width : 1920px;
$desktop-min-width : 1280px;
$desktop-content-width : 1190px;
$desktop-team-layer-width : 790px;

$main-orange : #ee6103;
$main-green : #8fba39;
$main-grey : #202224;
$main-grey2 : #606167;

$shentox:'Shentox';
$shentox-italic:'Shentox-SemiBoldItalic';
$koverwatch:'koverwatch';