    <footer id="footer">
        <div class="inner">
            <ul class="list_partner">
            <li class="paypal"><a href="#">PayPal</a></li>
            <li class="comodo"><a href="#">COMODO</a></li>
            <li class="gamecare"><a href="#">gamecare</a></li>
            <li class="pci"><a href="#">pci</a></li>
            <li class="age18"><a href="#">18+</a></li>
            </ul>

            <p class="notice">In the event that You withdraw funds in respect of which You have received a Bonus, without having met any applicable release rey applicable release requirements,<br>withdrawal restrictions or general eligibility criteria, You shall forfeit the entire sum of the Bonus and any winnings resulting from this Bonus<br>The 50 Free Spins will also be automatically credited on your first deposit. Wagering requirement for Free Spins is 20 x wins generg requirement for Free Spins is 20 x wins generg requirement<br>When you accept the Free Spins, a popup will display a list of games on which they can be played.<br>Free Spin winnings can only be played on the slot games that were allotted for free spins for the specific promotions until wagering requireme<br>You will have 30 days to complete wagering requirements of this offer. If wagering is not completed within this period</p>

            <p class="warning">Gambling can be addictive, please play responsibly.</p>
        </div>
    </footer>