<script type="text/x-handlebars-template" id="handlebars-template">
    <table class="tbl">
        <caption>
            <span>테이블 정보</span>
        </caption>
        <thead>
            <tr>
                <th scope="col">순번</th>
                <th scope="col">지역</th>
                <th scope="col">업데이트 날짜</th>
                <th scope="col">전세/매매</th>
                <th scope="col">가격</th>
                <th scope="col">예금</th>
                <th scope="col">Partial</th>
            </tr>
        </thead>
        <tbody></tbody>
        {{#each data}} {{!-- {{#each data}} 는 {{#data}} 로도 대체 가능하다 --}}
        <tr>
            {{#if @first}}
            <td>첫 {{@key}}번째</td>
            {{else if @last}}
            <td>마지막 {{@key}}번째</td>
            {{else}}
            <td>중간 {{@key}}번째</td>
            {{/if}}
            <td>{{this.area}}</td>{{!-- area는 this.area와 같다 --}}
            <td>{{year}}</td>
            <td>{{division}}</td>
            <td>{{price}}</td>
            <td>{{bank deposit}}</td>{{!-- 사용자 정의 헬퍼인 bank에 deposit을 인자로 넘긴다 --}}
            <td>{{> partialText}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</script>

<script type="text/x-handlebars-template" id="partial-template">
    Partial Test : {{year}}
</script>

<script type="text/x-handlebars-template" id="with-as-template">
    <table class="tbl">
    <thead>
    <tr>
        <th>이름</th>
        <th>아이디</th>
        <th>취미</th>
    </tr>
    </thead>
    <tbody>
    {{!-- {{#each users}} 는 {{#users}} 로도 대체 가능하다 --}}
    {{#each users as |user userId|}}
    <tr>
        <td>{{name}}</td>
        <td>{{id}}</td>
        <td>
            {{#each hobbys as |hobby hobbyId|}}

                {{!-- 처음이 아닌 경우에는 br태그 넣기 --}}
                {{#unless @first}}<br>{{/unless}}
                
                {{!-- 상위 이터레이션의 인덱스 넘버를 가져올 때 --}} 
                {{@../index}}
                ==
                {{!-- 상위 이터레이션의 인덱스 넘버는 아래와 같은 방식도 가능하다 --}}
                {{userId}}
                
                {{!-- 상대경로로 참조한 name을 myName 이라는 변수로 할당 --}}
                {{#with ../this.name as |myName|}}
                
                {{!-- 상대경로를 참조해서 #hobby의 현재값 출력 --}}
                {{myName}}의 {{hobbyId}}번 취미 {{hobby}}
                {{/with}}
                
            {{/each}}
        </td>
    </tr>
    {{/each}}
    </tbody>
    </table>
</script>